

*{
    font-family: inter;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #292e3b;
}



:root{
    --body-color: #292E3B;
    --sidebar-color: #26413F;
    --primary-color: #1D9A6C;
    --primary-color-light: #f6f5ff;
    --toggle-color: #ddd;
    --text-color: #fff;

    --tran-02:all 0.2s ease;
    --tran-03:all 0.3s ease;
    --tran-04:all 0.4s ease;
    --tran-05:all 0.5s ease;
}

body{
    height: 100vh;
    background: var(--body-color);
    transition: var(--tran-05);
}

/*sidebar*/

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
    display: flex;
    flex-direction: column;
}

.sidebar.close{
    width: 88px;

}

/*resuable css*/

.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text{
    opacity: 0;
    display: none;
}

.sidebar .image{
    max-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 18px;
}

.sidebar li .icon,
.sidebar li .text{
    color: var(--text-color);
    transition: var(--tran-02);
}

.sidebar header{
    position: relative;
}

.sidebar .image-text img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}

header .image-text .header-text{
    display: flex;
    flex-direction: column;
}

.header-text .name{
    font-weight: 600;
}

.header-text .profession{
    margin-top: -2px;
}

.sidebar header .toggle{
    position: relative;
    top: 310px;
    /* top: 50%; */
    /*right: -25px;*/
    /* margin-top: 450px; */
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    /*width: 25px;*/
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: var(--sidebar-color);
    font-size: 22px;
    transition: var(--tran-03);
}

.sidebar.close header .toggle{
    /*transform: translateY(-50%);*/
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar .menu{
    margin-top: 20px;
}

.sidebar li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
}

.sidebar li a:hover{
    background: var(--primary-color);
}


.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}

.sidebar .menu-bar{
    height: calc(100%-50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home{
    position: relative;
    height: 100vh;
   /*  left: 250px;*/
    width: calc(100%-88px);
    transition: var(--tran-05);
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 8px 40px;
}

.sidebar.close ~ .home{
    /* left: 88px; */
    width: calc(100%-88px);
}

.bottom-content{
    /* display: flex;
    flex-direction: column; */
    left: 0;
    margin: auto 22px 25px;
}

@media (max-width: 900px) {
  .sidebar {
    position: relative;
    width: 100%;
    height: auto;
  }
  .sidebar li .icon{
  justify-content: start;
  }
  .sidebar .menu{
    margin-top: 0px;
  }
  .bottom-content{
    margin: 0px;
    display: none;
  }
  .sidebar header .toggle{
    border-radius: 20px;
    position: static;
    transform: none;
    width: 100%;
  }
  .sidebar.close header .toggle{
    transform: none;
    display: none;
  }
  .sidebar.close{
    width: 100%;
    height: auto;
    padding-top: 50px;
  }
  .sidebar.close ~ .home{
    left: 0px;
  }
  .home{
    left: 0px;
  }
  .sidebar.close .text{
    opacity: 1;
    display: block;
  }
  .sidebar li a{
  justify-content: center;
  }

}

