
:root{
    
    /* reference */
    --reference_height:1080;
    --reference_width:1920;

    /* header geom */
    --header_height: 52;

    /* header in paddings */
    --left_text_left_padding:20;
    --right_text_right_padding:20;
}


.main-Header{
    background: #292e3c;
    box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.24);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #292E3C;
    position: fixed; 
    z-index: 150; 
    width: 100%;
    top: 0;
    min-height:calc(52 / 1080 * 100vh);

}

.leftContent-first{
    margin-right: 5px; 
    font-weight: 500;
    font-size: 14px;
    padding-left: calc(var(--left_text_left_padding)/var(--reference_width)*100vw);
    line-height: 143%;
    color: rgba(255, 255, 255, 0.48);
}

.leftContent-second{
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: rgba(255, 255, 255, 0.87);
}

.main-Header__rightContent{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    color: rgba(255, 255, 255, 0.87);
    padding-right: calc(var(--right_text_right_padding)/var(--reference_width)*100vh)
}

.rightContent-first{
    border-radius: 8px;
    padding: 8px;
    background: #1d9a6c;
    cursor: pointer;
}

.rightContent-fourth{
    border-radius: 8px;
    padding: 8px;
    background: #1d9a6c;
    cursor: pointer;
    font-size:11px;
    font-weight: 500;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.rightContent-fourth:hover, 
.rightContent-first:hover{
    background: #4c977c;
}

.rightContent-second,
.rightContent-third{
    padding: 8px;
}
