*{
    color: #fff;

}

/* main content */

.main__content{
    margin-bottom: 25px;
    margin-right: 0;
    display: flex;
    flex-direction: row;
    margin-left: 88px;
}

section{
    width: 100%;
}

.header{
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 500;
}

/* section 1 search*/

.content__search{
    width: 40%;
    background-color: #222836;
    margin-top: 50px;
    overflow: hidden;
    border-right: solid rgba(255, 255, 255, 0.08) 2px;
    min-height:94vh;
}

.search-header{

    display: flex;
    flex-direction: row;
    position: static;
    justify-content: center;
}

.search-box{
    border-bottom: solid rgba(255, 255, 255, 0.08) 3px;
    padding: 0 4px 0;
}

.search-box input{
    outline: none;
    border: none;
    background: none;
    width: 120px;
}

.search-header i{
    padding: 0 5px 5px;
}

.search-info{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.custom{
    margin-bottom: 25px;
    font-size: 78%;
}


/* section 2 table*/


:section_two_constants{
    --top-padding:20%;
    --bot-padding:20%;
}

.content__table{
    /* border-left: solid rgba(255, 255, 255, 0.08) 2px; */
    border-right: solid rgba(255, 255, 255, 0.08) 2px;
    width: 100%;
    margin-top: 50px;
    padding: 20px 15px 15px 15px;
}
.content__table td{
    text-align: center;
    width: 25% ;
}

/* section 3 features*/

.content__features {
    font-size: 12px;
    font-weight: 400;
    margin-top: 50px;
    padding: 20px 15px 15px 15px;
    width: 50%;
}


/* tables */

.item p{
    margin-top: 0;
    margin-bottom: 8px;
}

table, th, td {
    border: 0;
    border-collapse: collapse;
    padding: 6px 6px 6px 8px;
    color: rgba(255, 255, 255, 0.64);
    font-size: 12px;
    font-weight: 400;
    width: 100%;
}

td{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

td input{
    width: 120px;
    border: none;
    color: rgba(255, 255, 255, 0.64);
    font-size: 15px;
    outline: none;
}

select{
    width: 120px;
    border: none;
    color: rgba(255, 255, 255, 0.64);
    outline: none;
}

td p{
    margin: 0;
}

tr td p {
    color: #fff;
}

/* tabs изменено*/

.tabs .tab{
    display:inline-block;
    padding:20px 0 20px;
    cursor:pointer;
    color: rgba(255, 255, 255, 0.87);
    font-size: 12px;
    font-weight: 500;
}

.tabs-items .item{
    display:none;
    color: rgba(255, 255, 255, 0.87);
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 20px;
    margin-left: 10%; /* как поменять? подумать */
    margin-right: 0%;
}

.tabs-items .item.on{
    display: flex;
    flex-direction: column;
}
.btn{
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;
    padding: 7px 18px 7px;
    width: 90%;
    border-radius: 10%;
}
.btn:hover{
    background: #FFFFFF14;
    border-radius: 3px;
}

.hidden {
    display: none;
}

.bx-chevron-up{
    color: #1D9A6C;
}

.bx-chevron-down{
    color: #1D9A6C;
}


@media (max-width: 900px) {
  .main__content {
    flex-direction: column;
margin-left: 0px;
  }
  .content__search{
    width: auto;
    margin-top: 0px;
    min-height:0px;
  }
  .content__table{
    margin-top: 0px;
  }
  td{
    white-space: wrap;
    font-size: 15px;
  }
  table{
    table-layout: fixed;
    width: 100%;
    text-align: center;
  }
  .tabs .tab{
  font-size: 16px;
  }
  .custom{
    font-size: 16px;
  }
  .btn{
    font-size: 80%;
  }
  .tabs-items .item{
      padding-bottom: 0px;
  }
  .header{
  font-size: 17px;
  text-align: center;
  }
  .content__features{
    margin-top: 0px;
    width: 100%;
  }
}