
rocksilencing/calculator/__pycache__/forms.cpython-312.pyc
rocksilencing/calculator/__pycache__/views.cpython-312.pyc
rocksilencing/calculator/custom_fuctions/matmodel_glush/matmodel_graph/__pycache__/graph_pressures.cpython-312.pyc
rocksilencing/db.sqlite3
rocksilencing/rocksilencing/__pycache__/settings.cpython-312.pyc
rocksilencing/calculator/__pycache__/forms.cpython-312.pyc
rocksilencing/calculator/__pycache__/views.cpython-312.pyc
rocksilencing/calculator/custom_fuctions/matmodel_glush/matmodel_graph/__pycache__/graph_pressures.cpython-312.pyc
rocksilencing/db.sqlite3
.DS_Store
rocksilencing/calculator/__pycache__/views.cpython-312.pyc
rocksilencing/calculator/custom_fuctions/matmodel_glush/matmodel_graph/__pycache__/graph_pressures.cpython-312.pyc
*.pyc
