# Игнорировать каталоги __pycache__
__pycache__/

# Игнорировать все файлы с расширением .pyc
*.pyc

# Игнорировать файл базы данных SQLite
db.sqlite3

# Дополнительно можно добавить стандартные игнорируемые файлы для Python проектов
venv/
env/
ENV/
.venv/
.env/

# Игнорировать файлы настроек IDE (например, PyCharm)
.idea/
*.iml

# Игнорировать системные файлы
.DS_Store
Thumbs.db
