.menu{
    position: absolute;
    background: rgb(38, 65, 63);
    height: 92vh;
    padding: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.menu__list div{
    margin: 20px 0;
    cursor: pointer;
}

.list-iconFirst{
    padding: 7px 7px 3px;
}
.list-iconFirst:hover{
    border-radius: 8px;
    background: rgb(29, 154, 108);
    transition: all 0.25s ease;
}

.list-iconSecond{
    padding: 7px 7px 5px;
}
.list-iconSecond:hover{
    border-radius: 8px;
    background: rgb(29, 154, 108);
    transition: all 0.25s ease;
}

.list-iconThird{
    padding: 7px 7px 6px;
}
.list-iconThird:hover{
    border-radius: 8px;
    background: rgb(29, 154, 108);
    transition: all 0.25s ease;    
}

.list-iconFourth{
    padding: 7px 7px 6px;
}
.list-iconFourth:hover{
    border-radius: 8px;
    background: rgb(29, 154, 108);
    transition: all 0.25s ease;    
}

.title h1{
    font-size: 40px;
    margin-bottom: 50px;
    color: #fff;
}