{% extends 'base.html' %}
{% load static %}
{% block styles %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link type="text/css" href="{% static 'css/expert_systema/reservoir_characteristics_form.css' %}" rel="stylesheet" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
<title>Экспертная система</title>
{% endblock %}
{% block content %}
<body>
<div class="main-container">
    <div class="container">
        <h1>Укажите характеристики коллектора </h1>
        <!-- Форма для характеристик коллектора -->
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="checkbox-wrapper">
                <label class="checkbox-container">
                    <input type="checkbox" name="additional_questions">
                    <span class="custom-checkbox"></span>
                    <span class="checkbox-text">Включить дополнительные вопросы</span>
                </label>
            </div>
            <div class="added-questions hidden">Блок доп вопросов</div>
            <!-- Добавляем уникальное имя для кнопки отправки -->
            <button type="submit" name="submit_reservoir" class="btn btn-primary">Отправить</button>
        </form>
    </div>
    
    {% if technologies %}
    <div class="container">
        {% for category, tech_list in technologies.items %}
        <div class="category-container">
            <div class="category">{{ category }}</div>
            {% for tech in tech_list %}
            <details class="salt-info">
                <summary>
                    <div class="left-content">
                        <i class="bx bx-chevron-right"></i>
                        <div>{{ tech.name }}</div>
                    </div>
                    <span class="applicability-status {% if tech.applicability == 'Частично применим' %}partial{% endif %}">{{ tech.applicability }}</span>
                </summary>
                <ul>
                    <li>
                        <div class="detail-content">
                            <div class="detail-section">
                                 <div class="detail-text">Возможный состав:</div>
                                 <div class="components-text">
                                     {{ tech.components_text }}
                                 </div>
                                 {% if tech.notes %}
                                     <div class="detail-text">Примечание:</div>
                                     <div class="notes-text">{{ tech.notes }}</div>
                                 {% endif %}
                            </div>
                        </div>
                    </li>
                </ul>
            </details>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    
    <div class="container">
        <h1>Выберите группу технологий</h1>
        <!-- Форма для выбора группы технологий и технологии -->
        <form method="post" class="mt-4">
            {% csrf_token %}
            <!-- Скрытое поле для передачи design_id, если оно существует -->
            {% if design_id %}
                <input type="hidden" name="design_id" value="{{ design_id }}">
            {% endif %}
            <div class="select-technology">
                <div class="mb-3">
                    <label for="tech_group" class="form-label">Группа технологий</label>
                    <select id="tech_group" name="tech_group" class="form-select" data-technologies='{{ technologies_json|safe }}' data-selected-group="{{ selected_group }}" data-selected-technology="{{ selected_technology }}">
                        {% for category, tech_list in technologies.items %}
                        <option value="{{ category }}" {% if selected_group == category %}selected{% endif %}>{{ category }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="tech_name" class="form-label">Технология</label>
                    <select id="tech_name" name="tech_name" class="form-select">
                        {% if selected_technology and selected_group %}
                            {% for category, tech_list in technologies.items %}
                                {% if category == selected_group %}
                                    {% for tech in tech_list %}
                                        <option value="{{ tech.name }}" {% if selected_technology == tech.name %}selected{% endif %}>{{ tech.name }} ({{ tech.applicability }})</option>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
            </div>
            <!-- Добавляем уникальное имя для кнопки отправки -->
            <button type="submit" name="submit_select_tech" class="btn btn-primary">Выбрать</button>
        </form>
    </div>
    {% endif %}
</div>
<script src="{% static 'js/reservoir_characteristics_form.js' %}" defer></script>
<div class="info-modal">
    <div class="info-modal-content">
        <div class="info-modal-header">
            <h2>Справка к вопросам о характеристиках коллектора</h2>
            <button class="info-modal-close">&times;</button>
        </div>
        <div class="info-modal-body">
            <div class="info-section">
                <h3>1. Тип породы коллектора</h3>
                <div class="info-description">
                    <p class="info-main">Укажите геологический тип породы, которая образует коллектор.</p>
                    <div class="info-variants">
                        <p>Возможные варианты:</p>
                        <ul>
                            <li>Песчаник</li>
                            <li>Карбонат</li>
                        </ul>
                    </div>
                    <p class="info-value"><strong>Значение:</strong>В процессе изучения научной литературы было установлено, что тип породы существенно влияет на выбор методов и материалов для глушения. Различная структура пластов (трещинноватая/однородная) влияет на эффективность выбранной технологии.</p>
                </div>
            </div>

            <div class="info-section">
                <h3>2. Коэффициент аномальности</h3>
                <div class="info-description">
                    <p class="info-main">Выберите категорию аномальности пластового давления.</p>
                    <div class="info-variants">
                        <p>Возможные категории:</p>
                        <ul>
                            <li><strong>АНПД:</strong> До 0.8 гидростатического</li>
                            <li><strong>Нормальное пониженное давление:</strong> От 0.8 до 1 гидростатического</li>
                            <li><strong>Нормальное давление:</strong> От 1 до 1.1 гидростатического</li>
                            <li><strong>Нормальное повышенное давление:</strong> От 1.1 до 1.3 гидростатического</li>
                            <li><strong>АВПД:</strong> От 1.3 гидростатического</li>
                        </ul>
                    </div>
                    <p class="info-value"><strong>Значение:</strong> Аномальное пластовое давление влияет на выбор методов глушения и необходимое оборудование для поддержания стабильности скважины. Классификация основана на работе
Александрова Б.Л. Аномально-высокие пластовые давления в нефтегазоносных бассейнах. - М.: Недра, 1987. - С. 6. </p>
                </div>
            </div>

            <div class="info-section">
                <h3>3. Пластовая температура, °C</h3>
                <div class="info-description">
                    <p class="info-main">Укажите температуру в коллекторе на рабочей глубине, измеряемую в градусах Цельсия.</p>
                    <p class="info-value"><strong>Значение:</strong> Температура может влиять на поведение отдельных технологий глушения, главным образом на поведение вязкоупругих смесей на основе нетермостойких полимеров</p>
                </div>
            </div>

            <div class="info-section">
                <h3>4. Водочувствительность коллектора</h3>
                <div class="info-description">
                    <p class="info-main">Определите, реагирует ли коллектор на присутствие воды в составе блок-пачки.</p>
                    <p class="info-value"><strong>Значение:</strong> Водочувствительность коллектора влияет на выбор химических реагентов и методов глушения, чтобы исключить снижение проницаемости ПЗП в случае возникновения рисков поглощения жидкости глушения пластом.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}
</html>
