:root{
    /* reference */
    --reference_height:1080;
    --reference_width:1920;


    /* margins */
    --margin-top:50;
    --padding-top:12;
    
}
body {
    background: #292e3c;
    margin: 0;
    padding: 0;
    height: 100%;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

/* main content */

.mainContainer {
    display: flex;
    flex-direction: row;
    /*margin-right: 25px;*/
    /*margin-top: 27px;*/
    margin-bottom: 16px;
    margin-left: 88px;
}

.container__tab {
    padding: 0 25px 0;
    border-right: solid rgba(255, 255, 255, 0.08) 2px;
    display: flex;
    flex-direction: column;
    margin-top:50px;
    max-width: 629px;
    width: 100%;
}


/* header inputs */

.headerContainer {
    position: static;
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    color: rgba(255, 255, 255, 0.87);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
}

.headerContainer h1 {
    margin-left: 5px;
}

.headerContainer svg {
    cursor: pointer;
}

/* header 2 section for results, plot/graph */

.headerContainer__info {
    height: auto;
    padding: 12px 24px 12px 24px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px 10px;
    text-align: center;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.06);
    color: #fff;
    align-items: center;
}

.header_left_block {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .label_download{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
} */
body .download__rep {
    color: #fff;
    text-decoration: none;
    display: flex;
}

.download__span {
    padding: 5px;
}

.info-name {
    font-size: 11px;
    font-weight: 400;
    margin-bottom: 2px;
    margin-top: 0px;
}

.info-spec {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 400;
}

.second_section {
    width: 100%;
    padding: 0 25px 0;
    border-right: solid rgba(255, 255, 255, 0.08) 2px;
    margin-top: 50px;
}

.third_section {
    padding: 0 25px 0;
    margin-top: calc(var(--margin-top)/var(--reference_height)*100vh);
}

.fourth_section {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100%;
    min-width: 60%;
}

/* tables */



.welcome_word {
    font-size: 100px;
    background-image: linear-gradient(10deg, #093028, #1d9a6c);
    background-size: 200% 200%;
    animation: gradient 10s ease infinite;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tabs {
    margin-top: 8px;
}

.tabs .tab {
    display: inline-block;
    padding: 18px 16px;
    margin: 0 0px 20px 0px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.87);
    font-size: 12px;
    font-weight: 500;
}

.tabs .tab.on {
    border-bottom: 2px solid rgb(29, 154, 108);
}

.tabs-items .item {
    display: none;
    color: rgba(255, 255, 255, 0.87);
    font-size: 14px;
    font-weight: 500;
}

.tabs-items .item.on {
    display: block;
}

th {
    text-align: left;
    max-width: 100%;
    padding: 6px 0px 6px 30px;

}

td {
    text-align: right;
    padding: 0 10px;
}

.td-left,
.td-left td {
    text-align: left;
    padding: 6px 0px 6px 6px;
}

.td-center {
    text-align: center;
    padding: 6px 0px 6px 6px;
}

.injection-scenarious td,
.block-pack-recipe td {
    width: 20%;
}

.column_and_well input {
    width: 4em;
    text-align: left;
}

.injection-way input,
.injection-way select {
    width: 6.5em;
}

table,
th,
td {
    border: 0;
    border-collapse: collapse;
    color: rgba(255, 255, 255, 0.64);
    font-size: 12px;
    font-weight: 400;
}

table {
    width: 100%
}

td input,
select {
    /* min-width: 5em;
    max-width: 8em; */
    border: none;
    color: rgba(255, 255, 255, 0.64);
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    width: 8em;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.2); */

}

.select_container {
    display: flex;
    justify-content: flex-start;
}

/* #graphPlotly{
    padding: 0 0 30px 30px;
} */
.graph_select {
    padding: 4px 0;
    margin: 8px 0 8px 30px;
    border: 1px solid #1D9A6C;
    border-radius: 8px;
    background-color: #26413F;
    color: #1D9A6C;
    text-align: center;
    line-height: 16px;
    width: 229px;
    font-size: 10px;
    display: flex;
    justify-content: center;
}

.graph_select:active,
.graph_select:focus {
    outline: none
}

.graph_select option {
    background-color: #363A47;
    color: rgba(255, 255, 255, 0.64);
    border-radius: 8px;
}

.hidden {
    display: none;
}

.visible {
    display: flex;
}

/* td{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
} */

/* td input{
    border: none;
    color: rgba(255, 255, 255, 0.64);
    font-size: 12px;
    font-weight: 400;
    outline: none;
    
} */

/* select{
    width: 120px;
    border: none;
    color: rgba(255, 255, 255, 0.64);
    outline: none;
    font-size: 12px;
    font-weight: 400;
} */

/* td p{
    margin: 0;
}
.tr {
    width:100%;
} */

/* button */

.text {
    font-size: 14px;
    line-height: 24px;
}



button {
    margin-top: 1rem;
    width: 100%;
    padding: 8px 12px;
    border-radius: 8px;
    background: rgb(29, 154, 108);
    border: none;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;
    cursor: pointer;
    background-image: linear-gradient(10deg, #26413f, #1d9a6c);

}

button:hover {
    background: rgba(29, 154, 108, 0.74);
    transition: all .2s;
    animation: shadow .6s infinite linear;
}

body .download_rep {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 8px 12px;
    border-radius: 8px;
    background: rgb(29, 154, 108);
    border: none;
    text-align: center;
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    margin: 1rem 2% 0;
    font-weight: 500;
    background-image: linear-gradient(10deg, #26413f, #1d9a6c);

}

body .download_rep:hover {
    background: rgba(29, 154, 108, 0.74);
    transition: all .2s;
    animation: shadow .6s infinite linear;
}

.tabs-first__footer-buttons {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;

}

.first-info-result {
    margin: 0;
}

/*.func-button-tab{
margin-top: 0px;
width: 15%;

}

.button-header-tab{
    margin-bottom: 5px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}*/
.input__wrapper {
    display: flex;
    justify-content: end;
    align-items: center;
}

.input__file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 6em;
}

.input__file-button {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.input__file-button-text {
    text-align: left;

    overflow: hidden;
    text-overflow: ellipsis;
}

.input__file-icon-wrapper {
    display: flex;
}

.inclinometry-results td {
    text-align: center;
    padding: 6px;

}

.inclinometry {
    overflow-y: auto;
    max-height: 600px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    margin-top: 20px;
}




@media (max-width: 900px) {
    .container__tab {
        padding: 0 25px 0;
        max-width: 100%;
    }

    .home {
        left: 0px;
    }

    /* table,
    th,
    td {
        padding: 2% 2% 2% 2%;
        text-align: center;
    } */

    .mainContainer {
        margin-top: 0px;
        flex-direction: column;
        margin-right: 0px;
        margin-left: 0px;
    }

    .tabs-first__footer-buttons {
        margin-bottom: 5px;
    }

    .headerContainer__info {
        flex-direction: column;
        height: auto;
        text-align: center;
        min-height: 3%;
        margin-bottom: 5%;
    }

    .headerContainer {
        font-size: 17px;
    }

    td {
        white-space: wrap;
        font-size: 15px;
        overflow: auto;
        text-overflow: clip;
    }

    table {
        table-layout: fixed;
        width: 100%;
    }

    .container__tab {
        border-right: none;
        margin-top: 0px;
    }

    .second_section {
        padding: 0px 25px 0px;
        border-right: 0px;
        margin-bottom: 30px;
        margin-top: 0px;
        min-width: 50%;

    }

    .third_section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0px;

    }

    .tabs {
        display: flex;
        /*justify-content: space-between;*/
        flex-direction: column;
    }

    .tabs .tab {
        text-align: center;
        font-size: 15px;
        margin: 0 0px 3% 0px;
    }

    .tabs-items .item.on {
        font-size: 20px;
    }

    .first-info-result {
        margin-bottom: 15px;
    }

    .tabs-wrapper {
        min-width: 0%;
        max-width: 1000px;
    }

    .second-info-result {
        margin-bottom: 15px;
    }

    .third-info-result {
        margin-bottom: 15px;
    }

    .fourth-info-result {
        margin-bottom: 15px;
    }

    .five-info-result {
        margin-bottom: 3px;
    }

    .headerContainer h1 {
        margin-left: 0px;
    }

    .headerContainer i {
        display: none;
    }

    td input {
        font-size: 15px;
        width: 100%;
        text-align: center;
    }

    select {
        text-align: center;
        font-size: 100%;
    }
}


@media (max-width: 500px) {
    .mainContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 21.5px 0;
        flex-wrap: wrap;
        padding: 0 11px;
    }
    .container__tab, .second_section, .third_section {
        padding: 0;
        margin: 0;
        width: fit-content;
        min-width: auto;
        display: none;
    }

    h1{
        font-size: 14px;
        font-weight: 400;
    }
    
    .headerContainer{
        display: none;
    }

    .header-container-mobile{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;

    }
    .header-mobile{
        padding: 17px;
        border-radius: 8px;
        color:white;
        font-size: 14px;
        font-weight: 400;
    }
    .header-mobile:hover{
        background-color: #363A47;
    }
    .tabs{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 9px;
    }
    .tabs .tab {
        font-size: 12px;
        font-weight: 500;
        padding: 15px 10px;
        margin:0
    }
    th{
        padding: 6px 0px 6px 16px;
        text-align: left;
        line-height: 16px;
        width: 70%;
    }
    td{
        padding: 6px 0px 6px 16px;
        text-align: right;
        overflow-x: hidden;
    }
    td input, td select{
        
        font-size: 12px;
        line-height: 16px;
        text-align: left;
        width: 8em;
    }
    .input__file-button{
        font-size: 12px;
        line-height: 16px;
    }
    .inclinometry-results td{
        font-size: 10px;
        padding: 5px 0;
    }
    
}