/* common */

body{
    background: #292e3c;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x:hidden;
}

@keyframes gradient {
0% {
    background-position: 0 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0 50%;
} }

/* main content */

.mainContainer{
    display: flex;
    flex-direction: row;
    /*margin-right: 25px;*/
    /*margin-top: 27px;*/
    margin-bottom: 16px;
    margin-left: 88px;
}

.container__tab{
    padding: 0 25px 0;
    border-right: solid rgba(255, 255, 255, 0.08) 2px; 
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    max-width: 40%;
}


/* header inputs */

.headerContainer{
    position: static;
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 12px 0px 12px 0px;
    color: rgba(255, 255, 255, 0.87);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
}

.headerContainer h1{
    margin-left: 5px;
}

.headerContainer svg{
    cursor: pointer;
}

/* header 2 section for results, plot/graph */

.headerContainer__info{
    height: 65px;
    padding: 12px 24px 12px 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.06);
    color: #fff;
    align-items: center;
}

.info-name{
    font-size: 11px;
    font-weight: 400;
    margin-bottom: 2px;
    margin-top: 0px;
}

.info-spec{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 400;
}

.second_section{
    width: 100%;
    padding: 0 25px 0;
    border-right: solid rgba(255, 255, 255, 0.08) 2px;
    margin-top: 50px;
}

.third_section{
    padding: 0 25px 0;
    margin-top: 50px;
}
.fourth_section{
    margin-top: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:100%;
    min-width: 60%;
    }
/* tables */



.welcome_word {
font-size:100px;
background-image: linear-gradient(10deg, #093028, #1d9a6c);
background-size: 200% 200%;
animation: gradient 10s ease infinite;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.tabs .tab{
    display:inline-block;
    padding:12px;
    margin:0 0px 20px 0px;
    cursor:pointer;
    color: rgba(255, 255, 255, 0.87);
    font-size: 12px;
    font-weight: 500;
}

.tabs .tab.on{
    border-bottom:  4px solid rgb(29, 154, 108);
}

.tabs-items .item{
    display:none;
    color: rgba(255, 255, 255, 0.87);
    font-size: 14px;
    font-weight: 500;
}

.tabs-items .item.on{
    display:block;
}

.item p{
    margin-top: 0;
    margin-bottom: 8px;
}

table, th, td {
    border: 0;
    border-collapse: collapse;
    padding: 6px 6px 6px 40px;
    color: rgba(255, 255, 255, 0.64);
    font-size: 12px;
    font-weight: 400;
}

td{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

td input{
    border: none;
    color: rgba(255, 255, 255, 0.64);
    font-size: 12px;
    font-weight: 400;
    outline: none;
}

select{
    width: 120px;
    border: none;
    color: rgba(255, 255, 255, 0.64);
    outline: none;
    font-size: 12px;
    font-weight: 400;
}

td p{
    margin: 0;
}
.tr {
    width:100%;
}

/* button */

.text{
    font-size: 14px;
    line-height: 24px;
}



button{
    margin-top: 10px;
    width: 100%;
    padding: 8px 12px 8px 12px;
    border-radius: 8px;
    background: rgb(29, 154, 108);
    border: none;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;
    cursor: pointer;
    background-image: linear-gradient(10deg, #26413f, #1d9a6c);
    background-size: 200% 200%;
    animation: gradient 10s ease infinite;
}

button:hover{
    background: rgba(29, 154, 108, 0.74);
    transition: all .2s;
    animation: shadow .6s infinite linear;
}

.tabs-first__footer-buttons{
    margin-bottom: 40px;
}

.first-info-result{
    margin: 0;
}
.second-info-result{

}
.third-info-result{

}
.fourth-info-result{

}
.five-info-result{

}

/*.func-button-tab{
margin-top: 0px;
width: 15%;

}

.button-header-tab{
    margin-bottom: 5px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}*/


@media (max-width: 900px) {
  .container__tab {
    padding: 0 25px 0;
    max-width: 100%;
  }
  .home{
    left: 0px;
  }
  table, th, td{
  padding: 2% 2% 2% 2%;
  text-align:center;
  }
  .mainContainer{
    margin-top: 0px;
    flex-direction: column;
    margin-right: 0px;
    margin-left: 0px;
  }
  .tabs-first__footer-buttons{
    margin-bottom: 5px;
  }
  .headerContainer__info{
    flex-direction: column;
    height: auto;
    text-align: center;
    min-height:3%;
    margin-bottom:5%;
  }
  .headerContainer{
  font-size: 17px;
  }
  td{
    white-space: wrap;
    font-size: 15px;
    overflow: auto;
            text-overflow: clip;
  }
  table{
    table-layout: fixed;
    width: 100%;
  }
  .container__tab{
    border-right: none;
    margin-top: 0px;
  }
  .second_section{
    padding: 0px 25px 0px;
    border-right: 0px;
    margin-bottom: 30px;
    margin-top: 0px;
    min-width: 50%;

  }
  .third_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;

  }



  .tabs{
  display: flex;
  /*justify-content: space-between;*/
  flex-direction: column;
  }
  .tabs .tab{
  text-align: center;
    font-size: 15px;
        margin: 0 0px 3% 0px;
  }
  .tabs-items .item.on{
  font-size: 20px;
  }
  .first-info-result{
  margin-bottom: 15px;
  }
  .tabs-wrapper{
    min-width: 0%;
    max-width: 1000px;
}
  .second-info-result{
  margin-bottom: 15px;
  }
  .third-info-result{
  margin-bottom: 15px;
  }
  .fourth-info-result{
  margin-bottom: 15px;
  }
  .five-info-result{
  margin-bottom: 3px;
  }
  .headerContainer h1{
  margin-left: 0px;
  }
  .headerContainer i{
  display: none;
  }
  td input{
  font-size: 15px;
  width: 100%;
    text-align: center;
  }
  select{
  text-align: center;
  font-size: 100%;
  }
  }


}