{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="main__content" style="padding: 500px; color:white">
    <form method="post">
        {% csrf_token %}
        <div style="display: flex; flex-direction: column; gap: 20px;">
            <p>Выберите тип коллектора: {{ form.collector_type }}</p>
            <p>Выберите тип давления: {{ form.pressure_type }}</p>
            <p>Введите температуру в пласте: {{ form.temperature }}</p>
            <p>Укажите водочувствительность коллектора: {{ form.water_sensitive }}</p>
        </div>
        <button type="submit" style="margin-top: 20px;">Получить рекомендацию</button>
    </form>

    {% if recommendation %}
        <h2>Рекомендация:</h2>
        <p>{{ recommendation }}</p>
    {% endif %}
</main>
{% endblock %}

