{% extends 'base.html' %}
{% load static %}
{% block styles %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link type="text/css" href="{%static 'css/main/main_page.css'%}" rel="stylesheet" crossorigin="anonymous">
<link rel="stylesheet" href="../template_page/template_page.css"> <!--для работы сайдбара и хедера-->
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet"> <!--для работы сайдбара-->
<title>Симулятор глушения</title>
{% endblock %}


</head>
{% block content %}
<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="{%static 'js/main/main_page.js'%}" defer></script>
<script src="{%static 'js/main/main_page_anim.js' %}" defer></script>
<body>
<form method="POST" action='' enctype="multipart/form-data">
    <main class="mainContainer">
        <section class="container__tab" style="width:100%">
            <div class="headerContainer">
                <div class = "header_left_block">
                <i id="toggleIcon1" class="bx bx-left-arrow-alt"></i>
                <h1>Входные данные</h1>
                </div>
                <button type="button" style="min-width:10%; max-width:30%; margin-left:5%; " onclick="demonstrate()"> демо </button>
            </div>
            <!-- ТАБЫ -->
            <div id="app"></div>
            <div class="tabs-wrapper">
                <div class="tabs">
                    <span class="tab">Общие данные</span>
                    <span class="tab">Колонна и скважина</span>
                    <span class="tab">НКТ и Штанги</span>
                    <span class="tab">Способ закачки</span>
                </div>
                <div class="tabs-items">
                    <div class="item">
                        <div class="button-header-tab">
<!--                        <button class="func-button-tab">-->
<!--                            button1-->
<!--                        </button>-->
                        </div>

                        <div class="item__tables">
                            <table>
                                <tr style="background: #363A47;">
                                    
                                    <th>
                                        Месторождение
                                    </th>
                               
                                    <td>
                                        {{ form.Oil_field_name }}   
                                    </td>
                                
                                </tr>
                                <tr style="background: #292e3c;">
                                    <th>
                                        Куст
                                    </th>
                                    <td>
                                        {{ form.Bush_name }}
                                    </td>
                                </tr>
                                <tr style="background: #363A47; ">
                                    <th>
                                        Скважина
                                    </th>
                                    <td>
                                        {{ form.Well_name }}
                                    </td>
                                </tr>
                                <tr style="background: #292e3c;">
                                    <th>
                                        Название дизайна
                                    </th>
                                    <td>
                                        {{ form.Design_name }}
                                    </td>
                                </tr>
                                <tr style="background: #363A47; ">
                                    <th>
                                        Способ эксплуатации
                                    </th>
                                    <td>
                                        {{ form.EXP_type }}
                                    </td>
                                </tr>
                                <tr style="background: #292e3c; ">
                                <th>
                                Пористость, доли ед.
                                </th>
                                <td>
                                {{ form.Porosity }}
                                </td>
                                </tr>
                                <tr style="background: #363A47; ">
                                    <th>
                                        Плотность нефти в поверхностных условиях, кг/м³
                                    </th>
                                    <td>
                                        {{ form.Oil_density }}
                                    </td>
                                </tr>
                                <tr style="background: #292e3c;">
                                    <th>
                                        Пластовое давление, атм
                                    </th>
                                    <td>
                                        {{ form.Plast_pressure }}
                                    </td>
                                </tr>
                                <tr style="background: #363A47; ">
                                    <th>
                                        Радиус контура питания, м
                                    </th>
                                    <td>
                                        {{ form.Radius_countour }}
                                    </td>
                                </tr>
                                <tr style="background: #292e3c;">
                                    <th>
                                        Толщина пласта, м
                                    </th>
                                    <td>
                                        {{ form.Plast_thickness }}
                                    </td>
                                </tr>
                                <tr style="background: #363A47; ">
                                    <th>
                                        Расстояние до пласта по вертикали, м
                                    </th>
                                    <td>
                                        {{ form.From_yst_to_plast }}
                                    </td>
                                </tr>
                                <tr style="background: #292e3c;">
                                    <th>
                                        Искусственный забой, м
                                    </th>
                                    <td>
                                        {{ form.False_zaboi }}
                                    </td>
                                </tr>
                                <tr style="background: #363A47; ">
                                    <th>
                                        Текущий забой, м
                                    </th>
                                    <td>
                                        {{ form.True_zaboi }}
                                    </td>
                                </tr>


                            </table>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item__tables">
                            <table class="column_and_well">
                                <tr style="background: #292e3c;">
                                    <th>
                                        Вертикальная длина труб НКТ, м
                                    </th>
                                    <td>
                                        {{ form.NKT_length }}
                                    </td>
                                </tr>
                                <tr style="background:  #363A47;">
                                    <th>
                                        Внутренний диаметр НКТ, м
                                    </th>
                                    <td>
                                        {{ form.NKT_inner_diameter }}
                                    </td>
                                </tr>
                                <tr style="background: #292e3c;">
                                    <th>
                                        Внешний диаметр НКТ, м
                                    </th>
                                    <td>
                                        {{ form.NKT_external_diameter }}
                                    </td>
                                </tr>
                                <tr style="background:  #363A47;">
                                    <th>
                                        Вертикальная длина ЭК, м
                                    </th>
                                    <td>
                                        {{ form.EXP_length }}
                                    </td>
                                </tr>
                                <tr style="background: #292e3c;">
                                    <th>
                                        Внутренний диаметр ЭК, м
                                    </th>
                                    <td>
                                        {{ form.EXP_inner_diameter }}
                                    </td>
                                </tr>
                                <tr style="background: #363A47;">
                                    <th>
                                        Внешний диаметр ЭК, м
                                    </th>
                                    <td>
                                        {{ form.EXP_external_diameter }}
                                    </td>
                                </tr>
                                <tr style="background: #292e3c;">
                                    <th>
                                        Данные инклинометрии ЭК
                                    </th>
                                    <td>
                                        <form method="post" action="" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="input__wrapper">
                                                <input name="file_upload" type="file" id="input__file" class="input input__file" multiple>
                                                <label for="input__file" class="input__file-button">
                                                   <span class="input__file-icon-wrapper"><img class="input__file-icon" src="{%static 'images/main/upload.svg'%}"  alt="Выбрать файл" ></span>
                                                   <span class="input__file-button-text" id = "file-name-text">Импорт</span>
                                                </label>    
                                                </div> 
                                            {% comment %} <input  type="file" name = "file_upload"> {% endcomment %}
                                            </form>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <p></p>
                        <div class="item__tables inclinometry">
                            {% if excel_file %}
                            <table class = "inclinometry-results">
                                <tr style="background: #5C606A;">
                                    <td>
                                        №
                                    </td>
                                    <td style="padding-left: 5px;" title="единица измерения мм">
                                        MD верх
                                    </td>
                                    <td style="padding-left: 5px;" title="единица измерения мм">
                                        MD низ
                                    </td>
                                    <td style="padding-left: 5px;" title="единица измерения мм">
                                        TVD вверх
                                    </td>
                                    <td style="padding-left: 5px;" title="единица измерения мм">
                                        TVD низ
                                    </td>
                                    <td style="padding-left: 5px;" title="единица измерения мм">
                                        Внешний диаметр
                                    </td>
                                    <td style="padding-left: 5px;" title="единица измерения мм">
                                        Толщина стенки
                                    </td>
                                </tr>

                                {% for each_elem in excel_file %}
                                 <tr style="background: {% if forloop.counter|divisibleby:2 %}#363a47{% else %}#292e3c{% endif %};">
                                    <td>
                                        <p>{{ each_elem.count }}</p>
                                    </td>
                                    <td style="padding-left: 5px; text-align:center;">
                                        <p>{{ each_elem.md_start }}</p>
                                    </td>
                                    <td style="padding-left: 5px; text-align:center;">
                                        <p>{{ each_elem.md_end }}</p>
                                    </td>
                                    <td style="padding-left: 5px; text-align:center;">
                                        <p>{{ each_elem.tvd_start }}</p>
                                    </td>
                                    <td style="padding-left: 5px; text-align:center;">
                                        <p>{{ each_elem.tvd_end }}</p>
                                    </td>
                                    <td style="padding-left: 5px; text-align:center;">
                                        <p>{{ each_elem.ext_d }}</p>
                                    </td>
                                    <td style="padding-left: 5px; text-align:center;">
                                        <p>{{ each_elem.thick }}</p>
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                            {% endif %}
                        </div>
                        <!-- <p style="margin-top: 1em;">Траектория</p>   -->

                    </div>
                    <div class="item">
                        <table class="td-left">
                                <tr style="background: #292e3c;">
                                    <td style="width:100%">
                                        Данные инклинометрии НКТ
                                    </td>
                                    <td>
                                       <div class="input__wrapper">
                                            <input name="file_upload" type="file" id="input__file-NKT" class="input input__file" multiple>
                                            <label  <label for="input__file-NKT" class="input__file-button">
                                               <span class="input__file-icon-wrapper">
                                                    <img class="input__file-icon" src="{%static 'images/main/upload.svg'%}"  alt="Выбрать файл" >
                                                </span>
                                               <span class="input__file-button-text" id="file-name-text-NKT">Импорт</span>
                                            </label>    
                                            </div> 
                            
                                            {% comment %} <input  type="file" name = "file_upload"> {% endcomment %}
                                    </td>
                                </tr>
                            </table>
                        {% if type_of_glush %}
                        <div class="item__tables">
                            <table class ="td-left">
                                <tr style="background: #5C606A;" >
                                    <td>
                                        №
                                    </td>
                                    <td title="единица измерения мм">
                                        MD верх
                                    </td>
                                    <td title="единица измерения мм">
                                        MD низ
                                    </td>
                                    <td title="единица измерения мм">
                                        Внешний диаметр
                                    </td>
                                    <td title="единица измерения мм">
                                        Толщина стенки
                                    </td>
                                </tr>
                                <tr style="background: #292e3c;">
                                    <td>
                                        <p>1</p>
                                    </td>
                                    <td>
<!--                                        <input id="md-up-nkt_1" type="text" style="background: #292e3c; width: 50px;">-->
                                        0
                                    </td>
                                    <td>
                                        <input id="md-down-nkt_1" type="text" style="background: #292e3c; width: 50px;">

                                    </td>
                                    <td>
                                        <input id="diameter-nkt_1" type="text"
                                               style="background: #292e3c; width: 50px;">
                                    </td>
                                    <td>
                                        <input id="wall-thick-nkt_1" type="text"
                                               style="background: #292e3c; width: 50px;">
                                    </td>
                                    <script>
                                            var true_nkt = document.getElementById("id_NKT_length")
                                            var true_nkt_exp_d = document.getElementById('id_NKT_external_diameter')
                                            var true_nkt_inner_d = document.getElementById('id_NKT_inner_diameter')
                                            var false_nkt = document.getElementById('md-down-nkt_1')
                                            var false_nkt_exp_d = document.getElementById('diameter-nkt_1')
                                            var false_nkt_thick = document.getElementById('wall-thick-nkt_1')
                                            false_nkt.value = true_nkt.value
                                            false_nkt_exp_d.value = true_nkt_exp_d.value
                                            false_nkt_thick.value = Math.round((true_nkt_exp_d.value - true_nkt_inner_d.value)*1000)
                                        </script>
                                </tr>
                            </table>
                        </div>
                        {% endif %}

                    </div>
                    <div class="item">
                        <div class="item__tables">
                            <table class="injection-way">
                                <tr style="background: #363A47;">
                                    <th>
                                        Объем емкости, м³
                                    </th>
                                    <td>
                                        {{ form.Volume_of_car }}
                                    </td>
                                </tr>
                                <tr style="background: #292e3c;">
                                    <th>
                                        Расход, м³/мин
                                    </th>
                                    <td>
                                        {{ form.Debit }}
                                    </td>
                                </tr>
                                <tr style="background: #363A47; ">
                                    <th>
                                        Плотность УВ, г/м³
                                    </th>
                                    <td>
                                        {{ form.YV_density }}
                                    </td>
                                </tr>
                                <tr style="background: #292e3c;">
                                    <th>
                                        Доля углеводородной основы в объеме блок-пачки
                                    </th>
                                    <td>
                                        {{ form.YV_dole }}

                                    </td>
                                </tr>
                                <tr style="background: #363A47; ">
                                    <th>
                                        Плотность эмульгатора, г/м³
                                    </th>
                                    <td>
                                        {{ form.Emul_density }}

                                    </td>
                                </tr>
                                <tr style="background: #292e3c; ">
                                    <th>
                                        Доля эмульгатора, доля ед.
                                    </th>
                                    <td>
                                        {{ form.Emul_dole }}
                                    </td>
                                </tr>
                                <tr style="background: #363A47; ">
                                    <th>
                                        Рекомендуемый тип соли
                                    </th>
                                    <td>
                                        {{ form.Type_of_jgs }}
                                    </td>
                                </tr>
                                <tr style="background: #292e3c;">
                                    <th>
                                        Фазовая проницаемость по нефти, мкм²
                                    </th>
                                    <td>
                                        {{ form.Phase_oil_permeability }}
                                    </td>
                                </tr>
                                <tr style="background: #363A47; ">
                                    <th>
                                        Фазовая проницаемость по ЖГС, мкм²
                                    </th>
                                    <td>
                                        {{ form.Phase_jgs_permeability }}
                                    </td>
                                </tr>
                                <tr style="background: #292e3c;">
                                    <th>
                                        Вязкость нефти, Па∙с
                                    </th>
                                    <td>
                                        {{ form.Oil_viscosity }}
                                    </td>
                                </tr>
                                <tr style="background: #363A47; ">
                                    <th>
                                        Вязкость ЖГС, Па∙с
                                    </th>
                                    <td>
                                        {{ form.Jgs_viscosity }}
                                    </td>
                                </tr>
                                <tr style="background: #292e3c; ">
                                    <th>
                                        Запас, доля ед.
                                    </th>
                                    <td>
                                        {{ form.Zapas }}
                                    </td>
                                </tr>
                                <tr style="background: #363A47; ">
                                    <th>
                                        Вид глушения
                                    </th>
                                    <td>
                                        {{ form.Type_of_jamming }}
                                    </td>
                                </tr>


                            </table>
                        </div>
                    </div>
                </div>
            </div>

            {% csrf_token %}
            <footer class="tabs-first__footer-buttons" style="display:flex; ">

                <button>Произвести расчет</button>

                {% comment %} Может пригодиться {% endcomment %}
                {% comment %} {% if show_download_button %}
                <!--                        <tr style="background: #363A47; ">-->
                <a class="download_rep"  href="{% url 'download_report' %}">Скачать отчет</a>
                <!--                        </tr>-->
                {% if type_of_glush == 'direct' %}
                <button id="restart_direct" type = "button"> Перезапустить анимацию </button>
                <script>
                    var button = document.getElementById('restart_direct');
                button.addEventListener('click', function(){
                var needed_div = document.getElementById("chart")
                needed_div.innerHTML = '';
                console.log(data);
                direct_animation(data);
                    });
                </script>
                {% else %}
                <button id="restart_back" type = "button"> Перезапустить анимацию </button>
                <script>
                    var button = document.getElementById('restart_back');
                button.addEventListener('click', function(){
                var needed_div = document.getElementById("chart2")
                needed_div.innerHTML = '';
                console.log(data);
                back_animation(data);
                    });
                </script>

            
                {% endif %}
                {% endif %} {% endcomment %}
            </footer>


            <!---->
        </section>
        {% if current_results %}
        <section class="second_section" >
            <header class="headerContainer">
<div class = "header_left_block">
                <i id="toggleIcon2" class="bx bx-left-arrow-alt"></i>
                <h1>Результаты расчетов</h1>
</div>
                
                <a id = "download_report" class = "download__rep" href="{% url 'download_report' %}">
                    <img src="{%static 'images/main/xls.svg'%}" alt = "Выгрузить отчет">
                    <span class="download__span">Выгрузить отчет
                    </a>
           
            </header>
            <div class="headerContainer__info">
                <div class="first-info-result">
                    <p class="info-name">V обс. колонны</p>
                    <p id="total-column-volume" class="info-spec">{{current_results.FULL_EXP_volume}} м³</p>
                    <!--в коде нужно сокранить м3 чтобы только число менялось!!!-->
                </div>
                <div class="second-info-result">
                    <p class="info-name">V НКТ</p>
                    <p id="total-nkt-volume" class="info-spec">{{current_results.NKT_volume}} м³</p>
                    <!--в коде нужно сокранить м3 чтобы только число менялось!!!-->
                </div>
                <div class="third-info-result">
                    <p class="info-name">Рекомендуемый тип соли</p>
                    <p id="total-salt-type" class="info-spec">{{ design.DESIGN_chosen_salt_name }}</p>
                </div>
                <div class="fourth-info-result">
                    <p class="info-name">V жидкости глушения</p>
                    <p id="total-jamming-liquid-volume" class="info-spec">{{current_results.Vjg}} м³</p>
                    <!--в коде нужно сокранить м3 чтобы только число менялось!!!-->
                </div>
                <div class="five-info-result">
                    <p class="info-name">Плотность жидкости глушения</p>
                    <p id="total-liqiud-pressure" class="info-spec">{{ design.DESIGN_true_jgs_density}} г/см³</p>
                    <!--в коде нужно сокранить г/см3 чтобы только число менялось!!!-->
                </div>
            </div>

            <section id="testtooltip"
                     style="color: rgba(240, 248, 255, 0.39); background-color: #363A47; margin-top: 5px; border-radius: 8px;">
                <div id = "graphPlotly">
                    <div class = "select_container">
                        <select placeholder = "График давления" id ="graph_select" class = "graph_select">
                            <option id = "pressure_graph" value = "pressure_graph">График давления</option>
                            <option id ="salt_choose_graph" value = "salt_choose_graph">График для подбора соли</option>
                        </select>
                    </div>
    
                     {{ graph|safe }}
                </div>
{% comment %} <script>
                        function resizeGraph() {
                            const graphContainer = document.getElementById('graphPlotly');
                            if (graphContainer) {
                                Plotly.Plots.resize(graphContainer.querySelector('.plotly-graph-div'));
                            }
                        }
                    
                        // Перерисовка графика при загрузке страницы
                        document.addEventListener('DOMContentLoaded', resizeGraph);
                    
                        // Перерисовка при изменении размера окна
                        window.addEventListener('resize', resizeGraph);
                    </script> {% endcomment %}
                    
            </section>

            <section>
                <!-- ТАБЫ -->
                <div class="tabs-wrapper">
                    <div class="tabs">
                        <span class="tab">Общие результаты</span>
                        <span class="tab">Расчет объемов</span>
                        <span class="tab">Рецептура блок-пачки</span>
                        <span class="tab">Сценарии закачки</span>
                    </div>
                    <div class="tabs-items">
                        <div class="item">
                            <div class="item__tables">
                                <table>
                                    <tr style="background: #363A47;">
                                        <th>
                                            Объем углеводородной основы, м³
                                        </th>
                                        <td>
                                            {{ design.DESIGN_volume_oil }}
                                        </td>
                                    </tr>
                                    <tr style="background: #292e3c;">
                                        <th>
                                            Объем эмульгатора, м³
                                        </th>
                                        <td>
                                            {{ design.DESIGN_volume_emul }}
                                        </td>
                                    </tr>
                                    <tr style="background: #363A47; ">
                                        <th>
                                            Объем воды, м³
                                        </th>
                                        <td>
                                            {{ design.DESIGN_water_volume }}
                                        </td>
                                    </tr>
                                    <tr style="background: #292e3c;">
                                        <th>
                                            Масса соли, т
                                        </th>
                                        <td>
                                            {{ design.DESIGN_salt_mass }}
                                        </td>
                                    </tr>
                                    <tr style="background: #363A47; ">
                                        <th>
                                            Объем солевого раствора, м³
                                        </th>
                                        <td>
                                            {{ design.DESIGN_volume_glush }}
                                        </td>
                                    </tr>
                                    <tr style="background: #292e3c;">
                                        <th>
                                            Плотность солевого раствора, г/м³
                                        </th>
                                        <td>
                                            {{ design.DESIGN_true_jgs_density }}
                                        </td>
                                    </tr>
                                    <tr style="background: #363A47; ">
                                        <th>
                                            Запас по давлению при глушении, атм
                                        </th>
                                        <td>
                                            {{ design.DESIGN_pressure_zapas }}
                                        </td>
                                    </tr>
                                    <tr style="background: #292e3c;">
                                        <th>
                                            Количество циклов, шт
                                        </th>
                                        <td>
                                            <p id="quantity-cycles" style="background: #292e3c;">
                                                {{ design.DESIGN_counts_of_zak }}</p>
                                        </td>
                                    </tr>
                                    <tr style="background: #363A47;">
                                        <th>
                                            Тип соли
                                        </th>
                                        <td>
                                            {{ design.DESIGN_chosen_salt_name }}
                                        </td>
                                    </tr>
                                    <tr style="background: #292e3c;">
                                        <th>
                                            Расход соли, кг
                                        </th>
                                        <td>
                                            {{ design.DESIGN_chosen_salt_debit }}
                                        </td>
                                    </tr>
                                    <tr style="background: #363A47; ">
                                        <th>
                                            Расход воды, л/м³
                                        </th>
                                        <td>
                                            {{ design.DESIGN_recommended_water_debit }}
                                        </td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item__tables">
                                <table>
                                    <tr style="background: #363A47;">
                                        <th>
                                            Объем экп. колонны, м³
                                        </th>
                                        <td>
                                            {{current_results.FULL_EXP_volume}}
                                        </td>
                                    </tr>
                                    <tr style="background: #292e3c;">
                                        <th>
                                            Объем НКТ, м³
                                        </th>
                                        <td>
                                            {{current_results.NKT_volume}}
                                        </td>
                                    </tr>
                                    <tr style="background: #363A47; ">
                                        <th>
                                            Объем штанг, м³
                                        </th>
                                        <td>
                                            -
                                        </td>
                                    </tr>
                                    <tr style="background: #292e3c;">
                                        <th>
                                            Объем затрубья в интервале устье-низ НКТ, м³
                                        </th>
                                        <td>
                                            {{current_results.KP_volume}}
                                        </td>
                                    </tr>
                                    <tr style="background: #363A47; ">
                                        <th>
                                            Объем колонны в интервале низ НКТ-забой, м³
                                        </th>
                                        <td>
                                            {{current_results.EXP_volume}}
                                        </td>
                                    </tr>
                                    <tr style="background: #292e3c;">
                                        <th>
                                            Расчетный объем глушения, м³
                                        </th>
                                        <td>
                                            {{ design.DESIGN_volume_bez_zapasa }}
                                        </td>
                                    </tr>
                                    <tr style="background: #363A47; ">
                                        <th>
                                            Запас жидкости - 10% от расчетного объема глушения, м³
                                        </th>
                                        <td>
                                            {{ design.DESIGN_volume_zapas }}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item__tables">
                                <table class ="block-pack-recipe">
                                    <tr style="background: #5C606A;">
                                        <td class="td-left"> 
                                            Тип жидкости, м³
                                        </td>
                                        <td class="td-center">
                                            Объем, м³
                                        </td>
                                        <td class="td-center">
                                            Скорость зак, м³/мин
                                        </td>
                                        <td class="td-center">
                                            Время закачки, мин
                                        </td>
                                        <td class="td-center">
                                            Время пер-я, час
                                        </td>
                                    </tr>
                                    <tr style="background: #292e3c;">
                                        <td class="td-left">
                                            Углеводородная основа, м³
                                        </td>
                                        <td class = "td-center">
                                            <p id="hydro-base_1" style="background: #292e3c;">{{ recipes_all.RECIPE_YV_ALL }}</p>
                                        </td>
                                        <td class = "td-center">
                                            <p id="hydro-base_2" style="background: #292e3c;">{{ recipes_all.RECIPE_DEBIT }}</p>
                                        </td>
                                        <td class = "td-center">
                                            <p id="hydro-base_3" style="background: #292e3c;">{{ recipes_all.RECIPE_TIME_YV_ALL }}</p>
                                        </td>
                                        <td class = "td-center">
                                            <p id="hydro-base_4" style="background: #292e3c;">{{ recipes_all.RECIPE_TIME_YV_PER }}</p>
                                        </td>
                                    </tr>
                                    <tr style="background: #363A47; ">
                                        <td class="td-left">
                                            Эмульгатор, м³
                                        </td>
                                        <td class = "td-center">
                                            <p id="emuls_1" style="background: #363A47;">{{ recipes_all.RECIPE_EMUL_ALL }}</p>
                                        </td>
                                        <td class = "td-center">
                                            <p id="emuls_2" style="background: #363A47;">{{ recipes_all.RECIPE_DEBIT }}</p>
                                        </td>
                                        <td class = "td-center">
                                            <p id="emuls_3" style="background: #363A47;">{{ recipes_all.RECIPE_TIME_EMUL_ALL }}</p>
                                        </td>
                                        <td class = "td-center">
                                            <p id="emuls_4" style="background: #363A47;">{{ recipes_all.RECIPE_TIME_YV_PER }}</p>
                                        </td>
                                    </tr>
                                    <tr style="background: #292e3c;">
                                        <td class="td-left">
                                            Объем сол. раствора, м³
                                        </td>
                                        <td class = "td-center">
                                            <p id="salt-volume_1" style="background: #292e3c;">{{ recipes_all.RECIPE_SOLERAST_ALL }}</p>
                                        </td>
                                        <td class = "td-center">
                                            <p id="salt-volume_2" style="background: #292e3c;">{{ recipes_all.RECIPE_DEBIT }}</p>
                                        </td>
                                        <td class = "td-center">
                                            <p id="salt-volume_3" style="background: #292e3c;">{{ recipes_all.RECIPE_TIME_SOLERAST_ALL }}</p>
                                        </td>
                                        <td class = "td-center">
                                            <p id="salt-volume_4" style="background: #292e3c;">{{ recipes_all.RECIPE_TIME_YV_PER }}</p>
                                        </td>
                                    </tr>
                                    <tr style="background: #363A47; ">
                                        <td class="td-left">
                                            Объем блок-пачки, м³
                                        </td>
                                        <td class = "td-center">
                                            <p id="block-volume_1" style="background: #363A47;">{{ recipes_all.RECIPE_BP_ALL }}</p>
                                        </td>
                                        <td class = "td-center">
                                            <p id="block-volume_2" style="background: #363A47;">{{ recipes_all.RECIPE_DEBIT }}</p>
                                        </td>
                                        <td class = "td-center">
                                            <p id="block-volume_3" style="background: #363A47;">{{ recipes_all.RECIPE_TIME_BP_ALL }}</p>
                                        </td>
                                        <td class = "td-center">
                                            <p id="block-volume_4" style="background: #363A47;">{{ recipes_all.RECIPE_TIME_YV_PER }}</p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item__tables">
                                <table class ="injection-scenarious">
                                    <tr style="background: #5C606A;">
                                        <td class = "td-left">
                                            Тип компонента
                                        </td>
                                        <td class = "td-center">
                                            Стадия №1
                                        </td>
                                        <td class = "td-center">
                                            Стадия №2
                                        </td>
                                        <td class = "td-center"> 
                                            Стадия №3
                                        </td>
                                        <td class = "td-center">
                                            Стадия №4
                                        </td>
                                    </tr>
                                    <tr style="background: #292e3c;">
                                        <td class = "td-left">
                                            Углеводородная основа, м³
                                        </td>
                                        <td class = "td-center">
                                            <p id="stage-hydro-base_1" style="background: #292e3c;">{{ stages.RECIPE_YV_st1 }}</p>
                                        </td>
                                        <td class = "td-center">
                                            <p id="stage-hydro-base_2" style="background: #292e3c;">{{ stages.RECIPE_YV_st2 }}</p>
                                        </td>
                                        <td class = "td-center">
                                            <p id="stage-hydro-base_3" style="background: #292e3c;">{{ stages.RECIPE_YV_st3 }}</p>
                                        </td>
                                        <td class = "td-center">
                                            <p id="stage-hydro-base_4" style="background: #292e3c;">{{ stages.RECIPE_YV_st4 }}</p>
                                        </td>
                                    </tr>
                                    <tr style="background: #363A47;">
                                        <td class = "td-left">
                                            Эмульгатор, м³
                                        </td>
                                        <td class = "td-center">
                                            <p id="stage-emuls_1" style="background: #363A47;">{{ stages.RECIPE_EMUL_st1 }}</p>

                                        </td>
                                        <td class = "td-center">
                                            <p id="stage-emuls_2" style="background: #363A47;">{{ stages.RECIPE_EMUL_st2 }}</p>

                                        </td>
                                        <td class = "td-center">
                                            <p id="stage-emuls_3" style="background: #363A47;">{{ stages.RECIPE_EMUL_st3 }}</p>

                                        </td>
                                        <td class = "td-center">
                                            <p id="stage-emuls_4" style="background: #363A47;">{{ stages.RECIPE_EMUL_st4 }}</p>

                                        </td>
                                    </tr>
                                    <tr style="background: #292e3c;">
                                        <td class = "td-left">
                                            Объем сол. раствора, м³
                                        </td>
                                        <td class = "td-center">
                                            <p id="stage-salt-volume_1" style="background: #292e3c;">{{ stages.RECIPE_SOLERAST_st1 }}</p>

                                        </td>
                                        <td class = "td-center">
                                            <p id="stage-salt-volume_2" style="background: #292e3c;">{{ stages.RECIPE_SOLERAST_st2 }}</p>

                                        </td >
                                        <td class = "td-center">
                                            <p id="stage-salt-volume_3" style="background: #292e3c;">{{ stages.RECIPE_SOLERAST_st3 }}</p>

                                        </td>
                                        <td class = "td-center">
                                            <p id="stage-salt-volume_4" style="background: #292e3c;">{{ stages.RECIPE_SOLERAST_st4 }}</p>

                                        </td>
                                    </tr>
                                    <tr style="background: #363A47; ">
                                        <td class = "td-left">
                                            Объем блок-пачки, м³
                                        </td>
                                        <td class = "td-center">
                                            <p id="stage-block-volume_1" style="background: #363A47;">{{ stages.RECIPE_BP_st1 }}</p>

                                        </td>
                                        <td class = "td-center">
                                            <p id="stage-block-volume_2" style="background: #363A47;">{{ stages.RECIPE_BP_st2 }}</p>

                                        </td>
                                        <td class = "td-center">
                                            <p id="stage-block-volume_3" style="background: #363A47;">{{ stages.RECIPE_BP_st3 }}</p>

                                        </td>
                                        <td class = "td-center">
                                            <p id="stage-block-volume_4" style="background: #363A47;">{{ stages.RECIPE_BP_st4 }}</p>

                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!---->
            </section>
        </section>
        <section class="third_section">
            <div class="headerContainer">
<div class = "header_left_block">
                <i id="toggleIcon3" class="bx bx-left-arrow-alt"></i>
                <h1>Конструкция</h1>
            </div>
</div>
            {% if type_of_glush == 'direct' %}
            <div class = "well-contruction">
                <svg id="chart" width="250" height="2500"></svg>
            </div>
            {% else %}
            <div class="well-contruction">
                <svg id="chart2" width="250" height="2000"></svg>
            </div><div id="chart"></div>
            {% endif %}



            {% if type_of_glush == 'direct' %}
            <script>
                var data = JSON.parse('{{ data_for_animation|escapejs }}');
                {% comment %} console.log(data); {% endcomment %}
                document.addEventListener('DOMContentLoaded', (event) => {
                if (typeof direct_animation === 'function') {
                    direct_animation(data);
                } else {
                    console.error('direct_animation is not defined');
                }
            });
            </script>
            {% else %}
            <script>
                var data = JSON.parse('{{ data_for_animation|escapejs }}');
                console.log(data);
                document.addEventListener('DOMContentLoaded', (event) => {
                if (typeof back_animation === 'function') {
                    back_animation(data);
                } else {
                    console.error('back_animation is not defined');
                }
            });
            </script>
            {% endif %}

        </section>
        {% endif %}

    </main>
</form>


</body>

{% endblock %}
</html>