{% extends 'base.html' %}
{% load static %}
{% block styles %}
<link type = "text/css" href="{%static 'css/reagent_base/reagent_page.css'%}" rel = "stylesheet" crossorigin="anonymous">
<title>База реагентов</title>
{% endblock %}
{% block content %}
{% csrf_token %}
    <!-- header and sidebar ended-->
    <main class="main__content">
        <section class="content__search">
            <div>
                <div class="search-header"> 
                    <div class="search-box">  <!-- косяк с иконками, переносятся при масштабировании посмоотреть шаблоны исправить-->
                        <i class="bx bx-search icon" ></i>
                        <input type="text" name="search-box" id="" placeholder="Поиск">
                        <i class="bx bx-plus icon" ></i>
                    </div>
                </div>
                <div class="search-info"> <!-- сделать выподающий список -->
                    <div class="search-info-first">
                        <i class="bx bx-chevron-down"></i>
                        Системные
                        {% for elem in bd_names_salts %}
                        <i>{{ elem.name }}</i>
                        {% endfor %}
                    </div>
                    <div class="search-info-first">
                        <i class="bx bx-chevron-down"></i>
                        База солей
                    </div>
                    <div class="search-info-first">
                        <i class="bx bx-chevron-down"></i>
                        Пользовательские
                    </div>
                </div> 

            </div>
            
        </section>
        <section class="content__table">
            <p class="header">Расходная норма</p>
            <p class="header" style="color: rgba(255, 255, 255, 0.64);">CaCl / Данные по приготовлению</p>
            <div class="table-main">
                <table>
                    <tr style="background: #5C606A;">
                        <td>
                            Название соли
                        </td>
                        <td>
                            Плотность раствора, г/см³
                        </td>
                        <td>
                            Расход соли, кг/м³
                        </td>
                        <td>
                            Расход пресной воды, л/м³
                        </td>
                    </tr>
                    {% for elem in bd_all_salts %}
                    <tr style="background: {% if forloop.counter|divisibleby:2 %}#363a47{% else %}#292e3c{% endif %};">
                        <td>
                            {{ elem.salt.name}}
                        </td>
                        <td>
                            {{ elem.density }}
                        </td>
                        <td>
                            {{ elem.salt_consumption }}
                        </td>
                        <td>
                            {{ elem.water_consumption }}
                        </td>
                    </tr>
                    {% endfor %}

                </table>
            </div>
        </section>
        <section class="content__features">
            <p class="header">Свойства жидкости</p>
            <table>
                <tr style="background: #292e3c;">
                    <td>
                        Название
                    </td>
                    <td>
                        <p>CaCl</p>
                    </td>
                </tr>
                <tr style="background: #363A47;">
                    <td>
                        Описание
                    </td>
                    <td>
                        <p>Соль</p>
                    </td>
                </tr>
                <tr style="background: #292e3c;">
                    <td>
                        Мин. плотность ЖГ, г/см³
                    </td>
                    <td>
                        <p>1,01</p>
                    </td>
                </tr>
                <tr style="background: #363A47;">
                    <td>
                        Макс. плотность ЖГ, г/см³
                    </td>
                    <td>
                        <p>1,30</p>
                    </td>
                </tr>
                <tr style="background: #292e3c;">
                    <td>
                        Стоимость реаг. руб/кг
                    </td>
                    <td>
                        <p>500</p>
                    </td>
                </tr>
                <tr style="background: #363A47;">
                    <td>
                        Примечание
                    </td>
                    <td>
                        <p>-</p>
                    </td>
                </tr>
            </table>
        </section>
    </main>
{% endblock %}
