{% extends 'base.html' %}
{% load static %}
{% block styles %}
<link type = "text/css" href="{%static 'css/salt/salt_page.css'%}" rel = "stylesheet" crossorigin="anonymous">
{% endblock %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <main class="mainContainer">

        <section class="container__tab" name="входные данные">
            <div class="headerContainer">
                <svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.995117 0C0.64994 0 0.370117 0.279822 0.370117 0.625V9.375C0.370117 9.72018 0.64994 10 0.995117 10C1.34029 10 1.62012 9.72018 1.62012 9.375V0.625C1.62012 0.279822 1.34029 0 0.995117 0ZM2.90673 5.8005L5.05318 7.94695C5.29725 8.19102 5.69298 8.19102 5.93706 7.94695C6.18114 7.70287 6.18114 7.30714 5.93706 7.06306L4.504 5.63H10.9951C11.3403 5.63 11.6201 5.35018 11.6201 5.005C11.6201 4.65983 11.3403 4.38 10.9951 4.38H4.504L5.93706 2.94695C6.18114 2.70287 6.18114 2.30714 5.93706 2.06306C5.69298 1.81899 5.29725 1.81899 5.05318 2.06306L2.90673 4.20951C2.46739 4.64885 2.46739 5.36116 2.90673 5.8005Z" fill="white" fill-opacity="0.87"/>
                </svg>
                <h1>Входные данные</h1>
            </div>
            <p style="color: rgba(255, 255, 255, 0.87); margin: 0 0 12px;">Условия смешивания</p>
            <table>
                <tr style="background: #363A47;">
                    <td>
                        Температура, °С
                    </td>
                    <td>
                        {{ form.Temperature }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Давление, атм
                    </td>
                    <td>
                        {{form.Pressure}}
                    </td>
                </tr>
                <tr>
                    <td>
                        Доля первой жидкости, %
                    </td>
                    <td>
                        {{form.Part_of_Mixture}}
                    </td>
                </tr>
            </table>
            <section style="padding: 15px 0;">
                <div class="plates">
                    <div>Вода 1</div>
                    <div style="margin-left: 20px;">ph
                        {{form.pH_1}}
                    </div>
                    <div style="margin-left: 20px;">Плотность, г/см³
                        {{form.ro_1}}
                    </div>
                </div>
                <div class="tables">
                    <table>
                        <tr style="background: #5C606A;">
                            <td>
                                Концентрация ионов
                            </td>
                            <td>
                                моль/кг
                            </td>
                            <td>
                                мг/л
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Cl<sup>-</sup>
                            </td>
                            <td>
                                {{form.Cl_1}}
                            </td>
                            <td>
                                {{form_2.Cl_1_another}}
                            </td>
                        </tr>
                        <tr style="background-color: #363A47;">
                            <td>
                                SO4<sup>2-</sup>
                            </td>
                            <td>
                                {{form.SO4_1}}
                            </td>
                            <td>
                                {{form.SO4_1_another}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                HCO3-
                            </td>
                            <td>
                                {{form.HCO3_1}}
                            </td>
                            <td>
                                {{form.HCO3_1_another}}
                            </td>
                        </tr>
                        <tr style="background-color: #363A47;">
                            <td>
                                Ca2+
                            </td>
                            <td>
                                {{form.Ca_1}}
                            </td>
                            <td>
                                {{form.Ca_1_another}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Mg2+
                            </td>
                            <td>
                                {{form.Mg_1}}
                            </td>
                            <td>
                                {{form.Mg_1_another}}
                            </td>
                        </tr>
                        <tr style="background-color: #363A47;">
                            <td>
                                Na<sup>+</sup>+K<sup>+</sup>
                            </td>
                            <td>
                                {{form.Na_1}}
                            </td>
                            <td>
                                {{form.Na_1_another}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Ba<sup>2+</sup>
                            </td>
                            <td>
                                {{form.Ba_1}}
                            </td>
                            <td>
                                {{form.Ba_1_another}}
                            </td>
                        </tr>
                        <tr style="background-color: #363A47;">
                            <td>
                                Sr<sup>2+</sup>
                            </td>
                            <td>
                                {{form.Sr_1}}
                            </td>
                            <td>
                                {{form.Sr_1_another}}
                            </td>
                        </tr>
                    </table>
                </div>
            </section>
            <section style="padding: 15px 0;">
                <div class="plates">
                    <div>Вода 1</div>
                    <div style="margin-left: 20px;">ph
                        {{form.pH_2}}
                    </div>
                    <div style="margin-left: 20px; ">Плотность, г/см³
                        {{form.ro_2}}
                    </div>
                </div>
                <div class="tables">
                    <table>
                        <tr style="background: #5C606A;">
                            <td>
                                Концентрация ионов
                            </td>
                            <td>

                                моль/кг
                            </td>
                            <td>
                                мг/л
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Cl<sup>-</sup>
                            </td>
                            <td>
                                {{form.Cl_2}}
                            </td>
                            <td>
                                <input type="text" style="background: #292e3c;">                                
                            </td>
                        </tr>
                        <tr style="background-color: #363A47;">
                            <td>
                                SO4<sup>2-</sup>
                            </td>
                            <td>
                                {{form.SO4_2}}
                            </td>
                            <td>
                                <input type="text" style="background: #363A47;">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                HCO3-
                            </td>
                            <td>
                                {{form.HCO3_2}}
                            </td>
                            <td>
                                <input type="text" style="background: #292e3c;"> 
                            </td>
                        </tr>
                        <tr style="background-color: #363A47;">
                            <td>
                                Ca2+
                            </td>
                            <td>
                                {{form.Ca_2}}
                            </td>
                            <td>
                                <input type="text" style="background: #363A47;">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Mg2+
                            </td>
                            <td>
                                {{form.Mg_2}}
                            </td>
                            <td>
                                <input type="text" style="background: #292e3c;"> 
                            </td>
                        </tr>
                        <tr style="background-color: #363A47;">
                            <td>
                                Na<sup>+</sup>+K<sup>+</sup>
                            </td>
                            <td>
                                {{form.Na_2}}
                            </td>
                            <td>
                                <input type="text" style="background: #363A47;">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Ba<sup>2+</sup>
                            </td>
                            <td>
                                {{form.Ba_2}}
                            </td>
                            <td>
                                <input type="text" style="background: #292e3c;"> 
                            </td>
                        </tr>
                        <tr style="background-color: #363A47;">
                            <td>
                                Sr<sup>2+</sup>
                            </td>
                            <td>
                                {{form.Sr_2}}
                            </td>
                            <td>
                                <input type="text" style="background: #363A47;">
                            </td>
                        </tr>
                    </table>
                </div>
            </section>
            <footer class="tabs-first__footer-buttons">
                <button>Произвести расчет</button>
            </footer>
        </section>
        <section name="результата расчета" style="padding: 0 25px 0;" >
            <div class="headerContainer">
                <h1>Результаты расчетов</h1>
            </div>
            <section name="график" >
                <img src="{% static 'images/salt/main_page_graph.jpg'%}" width="100%" style="margin-top: 12px;">
                {% include 'plot.html' %}
            </section>
            <section name="таблица">
                <p style="color: rgba(255, 255, 255, 0.87);">Масса осадка, г/л</p>
                <div class="tables">
                    <table>
                        <tr style="background: #5C606A;">
                            <td>
                                Доля первой воды
                            </td>
                            <td>
                                Барит BaSO4
                            </td>
                            <td>
                                Целестин SrSO4
                            </td>
                            <td>
                                Ангидрит CaSO4
                            </td>
                            <td>
                                Бассанит CaSO4x0,5H2O
                            </td>
                            <td>
                                Гипс CaSO4x2H2O
                            </td>
                            <td>
                                Сульфат магния MgSO4
                            </td>
                            <td>
                                Кальцит CaCO3
                            </td>
                        </tr>
                        {% for elem in all_results %}
                        {% if elem.Part_of_mixture == custom_Part_of_Mixture %}
                        <tr style="background: #5C606A;">
                            <td>
                                {{elem.Part_of_mixture}}
                            </td>
                            <td>
                                {{elem.Barit}}
                            </td>
                            <td>
                                {{elem.Celestine}}
                            </td>
                            <td>
                                {{elem.Anhydrate}}
                            </td>
                            <td>
                                {{elem.Bassanit}}
                            </td>
                            <td>
                                {{elem.Gips}}
                            </td>
                            <td>
                                {{elem.Magnium_Sulfat}}
                            </td>
                            <td>
                                {{elem.Calcit}}
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td>
                                {{elem.Part_of_mixture}}
                            </td>
                            <td>
                                {{elem.Barit}}
                            </td>
                            <td>
                                {{elem.Celestine}}
                            </td>
                            <td>
                                {{elem.Anhydrate}}
                            </td>
                            <td>
                                {{elem.Bassanit}}
                            </td>
                            <td>
                                {{elem.Gips}}
                            </td>
                            <td>
                                {{elem.Magnium_Sulfat}}
                            </td>
                            <td>
                                {{elem.Calcit}}
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </section>
        </section>
    </main>
    </form>
{% endblock %}

