{% extends 'base.html' %}
{% load static %}
{% block styles %}
<link type = "text/css" href="{%static 'css/salt/salt_page.css'%}" rel = "stylesheet" crossorigin="anonymous">
<title>Калькулятор солеотложений</title>

{% endblock %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <main class="mainContainer">
        <section class="container__tab" name="входные данные">
            <div class="headerContainer">
                <h1>Входные данные</h1>
                <button type="button" style="min-width:10%; max-width:30%; margin-left:5%; " onclick="demonstrate()"> демо </button>
            </div>
            <p style="color: rgba(255, 255, 255, 0.87); margin: 0 0 12px;">Условия смешивания</p>
            <table style="margin-bottom: 15px">
                <tr style="background: #363A47;">
                    <td>
                        Температура, °С
                    </td>
                    <td>
                        {{ form.Temperature }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Давление, МПа
                    </td>
                    <td>
                        {{form.Pressure}}
                    </td>
                </tr>
                <tr style="background: #363A47;">
                    <td>
                        Доля первой жидкости, %
                    </td>
                    <td>
                        {{form.Part_of_Mixture}}
                    </td>
                </tr>
            </table>
            <section style="padding: 15px 0;">
                <div class="plates">
                    <div>Вода 1</div>
                    <div style="margin-left: 20px;">pH
                        {{form.pH_1}}
                    </div>
                    <div style="margin-left: 20px;">Плотность, г/см³
                        {{form.ro_1}}
                    </div>
                </div>
                <div class="tables">
                    <table>
                        <tr style="background: #5C606A;">
                            <td>
                                №
                            </td>
                            <td>
                                Концентрация ионов
                            </td>
                            <td style="text-align:center;">
                                моль/кг
                            </td>
                            <td style="text-align:center;">
                                мг/л
                            </td>
                        </tr>
                        <tr>
                            <td class = "number_of_element" id = "Cl_number_1">
                                1
                            </td>
                            <td>
                                Cl<sup>-</sup>
                            </td>
                            <td>
                                {{form.Cl_1}}
                            </td>
                            <td>
                                {{form_2.Cl_1_another}}
                            </td>
                        </tr>
                        <tr style="background-color: #363A47;">
                            <td class = "number_of_element" id = "SO4_number_1">
                                2
                            </td>
                            <td>
                                SO4<sup>2-</sup>
                            </td>
                            <td>
                                {{form.SO4_1}}
                            </td>
                            <td>
                                {{form_2.SO4_1_another}}
                            </td>
                        </tr>
                        <tr>
                            <td class = "number_of_element" id = "HCO3_number_1">
                                3
                            </td>
                            <td>
                                HCO3-
                            </td>
                            <td>
                                {{form.HCO3_1}}
                            </td>
                            <td>
                                {{form_2.HCO3_1_another}}
                            </td>
                        </tr>
                        <tr style="background-color: #363A47;">
                            <td class = "number_of_element" id = "Ca_number_1">
                                4
                            </td>
                            <td>
                                Ca2+
                            </td>
                            <td>
                                {{form.Ca_1}}
                            </td>
                            <td>
                                {{form_2.Ca_1_another}}
                            </td>
                        </tr>
                        <tr>
                            <td class = "number_of_element" id = "Mg_number_1">
                                5
                            </td>
                            <td>
                                Mg2+
                            </td>
                            <td>
                                {{form.Mg_1}}
                            </td>
                            <td>
                                {{form_2.Mg_1_another}}
                            </td>
                        </tr>
                        <tr style="background-color: #363A47;">
                            <td class = "number_of_element" id = "Na_number_1">
                                6
                            </td>
                            <td>
                                Na<sup>+</sup>+K<sup>+</sup>
                            </td>
                            <td>
                                {{form.Na_1}}
                            </td>
                            <td>
                                {{form_2.Na_1_another}}
                            </td>
                        </tr>
                        <tr>
                            <td class = "number_of_element" id = "Ba_number_1">
                                7
                            </td>
                            <td>
                                Ba<sup>2+</sup>
                            </td>
                            <td>
                                {{form.Ba_1}}
                            </td>
                            <td>
                                {{form_2.Ba_1_another}}
                            </td>
                        </tr>
                        <tr style="background-color: #363A47;">
                            <td class = "number_of_element" id = "Sr_number_1">
                                8
                            </td>
                            <td>
                                Sr<sup>2+</sup>
                            </td>
                            <td>
                                {{form.Sr_1}}
                            </td>
                            <td>
                                {{form_2.Sr_1_another}}
                            </td>
                        </tr>
                    </table>
                </div>
            </section>
            <section style="padding: 15px 0;">
                <div class="plates">
                    <div>Вода 2</div>
                    <div style="margin-left: 20px;">pH
                        {{form.pH_2}}
                    </div>
                    <div style="margin-left: 20px; ">Плотность, г/см³
                        {{form.ro_2}}
                    </div>
                </div>
                <div class="tables">
                    <table>
                        <tr style="background: #5C606A;">
                            <td>
                                №
                            </td>
                            <td>
                                Концентрация ионов
                            </td>
                            <td style="text-align:center;">
                                моль/кг
                            </td>
                            <td style="text-align:center;">
                                мг/л
                            </td>
                        </tr>
                        <tr>
                            <td class = "number_of_element"  id = "Cl_number_2">
                                1
                            </td>
                            <td>
                                Cl<sup>-</sup>
                            </td>
                            <td>
                                {{form.Cl_2}}
                            </td>
                            <td>
                                {{form_2.Cl_2_another}}
                            </td>
                        </tr>
                        <tr style="background-color: #363A47;">
                            <td class = "number_of_element" id = "SO4_number_2">
                                2
                            </td>
                            <td>
                                SO4<sup>2-</sup>
                            </td>
                            <td>
                                {{form.SO4_2}}
                            </td>
                            <td>
                                {{form_2.SO4_2_another}}
                            </td>
                        </tr>
                        <tr>
                            <td class = "number_of_element" id = "HCO3_number_2">
                                3
                            </td>
                            <td>
                                HCO3-
                            </td>
                            <td>
                                {{form.HCO3_2}}
                            </td>
                            <td>
                                {{form_2.HCO3_2_another}}
                            </td>
                        </tr>
                        <tr style="background-color: #363A47;">
                            <td class = "number_of_element"  id = "Ca_number_2">
                                4
                            </td >
                            <td>
                                Ca2+
                            </td>
                            <td>
                                {{form.Ca_2}}
                            </td>
                            <td>
                                {{form_2.Ca_2_another}}
                            </td>
                        </tr>
                        <tr>
                            <td class = "number_of_element" id = "Mg_number_2">
                                5
                            </td>
                            <td>
                                Mg2+
                            </td>
                            <td>
                                {{form.Mg_2}}
                            </td>
                            <td>
                                {{form_2.Mg_2_another}}
                            </td>
                        </tr>
                        <tr style="background-color: #363A47;">
                            <td class = "number_of_element" id = "Na_number_2">
                                6
                            </td>
                            <td>
                                Na<sup>+</sup>+K<sup>+</sup>
                            </td>
                            <td>
                                {{form.Na_2}}
                            </td>
                            <td>
                                {{form_2.Na_2_another}}
                            </td>
                        </tr>
                        <tr>
                            <td class = "number_of_element" id = "Ba_number_2">
                                7
                            </td>
                            <td>
                                Ba<sup>2+</sup>
                            </td>
                            <td>
                                {{form.Ba_2}}
                            </td>
                            <td>
                                {{form_2.Ba_2_another}}
                            </td>
                        </tr>
                        <tr style="background-color: #363A47;">
                            <td class = "number_of_element" id = "Sr_number_2">
                                8
                            </td>
                            <td>
                                Sr<sup>2+</sup>
                            </td>
                            <td>
                                {{form.Sr_2}}
                            </td>
                            <td>
                                {{form_2.Sr_2_another}}
                            </td>
                        </tr>
                    </table>
                </div>
            </section>
            <footer class="tabs-first__footer-buttons">
                <button>Произвести расчет</button>
            </footer>
        </section>
        {% if all_results %}
        <section class="third-section__main" name="результата расчета">
            <div class="headerContainer">
                <h1>Результаты расчетов</h1>
<a id="download_report" class="download__rep" href="{% url 'download_scale_report' %}">
                    <img src="{%static 'images/main/xls.svg'%}" alt = "Выгрузить отчет">
                    <span class="download__span">Выгрузить отчет
                    </a>
            </div>
            <section name="график" >
                {{ graph|safe }}
            </section>
            <section class="third-section__child" name="таблица">

                <div class="tables">
                    <table>
                        <tr style="background: #5C606A;">
                            <td>
                                Доля первой воды
                            </td>
                            <td>
                                Барит BaSO4
                            </td>
                            <td>
                                Целестин SrSO4
                            </td>
                            <td>
                                Ангидрит CaSO4
                            </td>
                            <td>
                                Бассанит CaSO4x0,5H2O
                            </td>
                            <td>
                                Гипс CaSO4x2H2O
                            </td>
                            <td>
                                Сульфат магния MgSO4
                            </td>
                            <td>
                                Кальцит CaCO3
                            </td>
                        </tr>

                        {% for elem in all_results %}

                        {% if elem.Part_of_mixture == custom_Part_of_Mixture %}
                        <tr style="background: #5C606A;">
                            <td>
                                {{elem.Part_of_mixture}}
                            </td>
                            <td>
                                {{elem.Barit}}
                            </td>
                            <td>
                                {{elem.Celestine}}
                            </td>
                            <td>
                                {{elem.Anhydrate}}
                            </td>
                            <td>
                                {{elem.Bassanit}}
                            </td>
                            <td>
                                {{elem.Gips}}
                            </td>
                            <td>
                                {{elem.Magnium_Sulfat}}
                            </td>
                            <td>
                                {{elem.Calcit}}
                            </td>
                        </tr>
                        {% else %}
                        {% if elem.Part_of_mixture == 5 or elem.Part_of_mixture == 20 or elem.Part_of_mixture == 40 or elem.Part_of_mixture == 60 or elem.Part_of_mixture == 80 or elem.Part_of_mixture == 100 %}
                        <tr style="background: #363a47;">
                        {% else %}
                            <tr style="background: #292e3c;">
                        {% endif %}
                            <td>
                                {{elem.Part_of_mixture}}
                            </td>
                            <td>
                                {{elem.Barit}}
                            </td>
                            <td>
                                {{elem.Celestine}}
                            </td>
                            <td>
                                {{elem.Anhydrate}}
                            </td>
                            <td>
                                {{elem.Bassanit}}
                            </td>
                            <td>
                                {{elem.Gips}}
                            </td>
                            <td>
                                {{elem.Magnium_Sulfat}}
                            </td>
                            <td>
                                {{elem.Calcit}}
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </section>
        </section>
        {% endif %}
    </main>
    </form>
<script src ="{% static 'js/salt/salt.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

