*{
    color: #fff;

}

:root{
    
    /* reference */
    --reference_height:1080;
    --reference_width:1920;


    /* fist section geom */
    --first_section_width:300;

    /* margins second section*/
    --second_margin_to_top_header: 52;
    --second_margin_to_left_sidebar: 62;

    /* paddings second section*/
    --second_section_top_bot_padding:20;
    --second_section_right_padding: 15;
    --second_section_left_padding:20;

    /* header */
    --second_header_top_bot_margin:20;

    /* geom second second template*/
    --second_section_width:54.6875vw;

    /* geom data second template*/
    --second_template_data_list: 385;



    /* third sec geon */
    --third_section_width: 437;
    --third_section_height: 988 ;

    /* third sec paddings */
    --third_section_top_bot_padding: 20;
    --third_section_left_padding: 16;
    --third_section_right_padding: 20;

    /* */

}



/* main content */

.main__content{
    margin-bottom: 25px;
    margin-right: 0;
    margin-top: calc(var(--second_margin_to_top_header) / var(--reference_height) * 100vh);
    display: flex;
    flex-direction: row;
    margin-left: 88px;
}

section{
    width: 100%;
}

.header{
    margin: calc(var(--second_header_top_bot_margin)/var(--reference_height)*100vh) 0 calc(var(--second_header_top_bot_margin)/var(--reference_height)*100vh) 0;
    font-size: 14px;
    font-weight: 500;
}

/* section 1 search*/

.content__search{
    min-width: calc(var(--first_section_width)/var(--reference_width)*100vw);
    max-width: calc(var(--first_section_width)/var(--reference_width)*100vw);
    background-color: #222836;
    overflow: hidden;
    border-right: solid rgba(255, 255, 255, 0.08) 2px;
    min-height:95vh;
}

.search-header{

    display: flex;
    flex-direction: row;
    position: static;
    justify-content: center;
}

.search-box{
    border-bottom: solid rgba(255, 255, 255, 0.08) 3px;
    padding: 0 4px 0;
}

.search-box input{
    outline: none;
    border: none;
    background: none;
    width: 120px;
}

.search-header i{
    padding: 0 5px 5px;
}

.search-info{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.custom{
    margin-bottom: 25px;
    font-size: 78%;
    display: flex;
    align-items: center;
}


/* section 2 table*/

.content-info{
    /* border-left: solid rgba(255, 255, 255, 0.08) 2px; */
    border-right: solid rgba(255, 255, 255, 0.08) 2px;
    min-width: var(--second_section_width);
    max-height:95vh;
    padding: calc(var(--second_section_top_bot_padding) / var(--reference_height) * 100vh) 
             calc(var(--second_section_right_padding) / var(--reference_width) * 100vw)
             calc(var(--second_section_top_bot_padding) / var(--reference_height) * 100vh)
             calc(var(--second_section_left_padding) / var(--reference_width) * 100vw);
}
.content__table td{
    text-align: center;
    width: 25% ;
}
.salt-base-graph{
    padding-top:20px;
}
.select_container{
    display: flex;
    justify-content: flex-start ;
}

.graph_select{
    padding: 9px 0;
    margin:8px 0 8px 30px ;
    border: 1px solid #1D9A6C;
    border-radius: 8px;
    background-color: #26413F;
    color: #1D9A6C;
    text-align: center;
    line-height: 16px;
    width: 229px;
    font-size: 10px;
    display: flex;
    justify-content: center;
}
.graph_select:active, .graph_select:focus{
    outline:none
  }
  .graph_select option{
    background-color: #363A47 ;
    color: rgba(255, 255, 255, 0.64);
    border-radius: 8px;
  }
/* section 3 features*/

.content__features {
    font-size: 12px;
    font-weight: 400;
    padding: 20px 15px 15px 15px;
    min-width: calc(var(--third_section_width)/var(--reference_width)*100vw);
    max-height:95vh;
    min-width: 0px;
}


/* tables */

.item p{
    margin-top: 0;
    margin-bottom: 8px;
}

table, th, td {
    border: 0;
    border-collapse: collapse;
    padding: 6px 6px 6px 8px;
    color: rgba(255, 255, 255, 0.64);
    font-size: 12px;
    font-weight: 400;
    width: 100%;
}

td{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

td input{
    width: 120px;
    border: none;
    color: rgba(255, 255, 255, 0.64);
    font-size: 15px;
    outline: none;
}

select{
    width: 120px;
    border: none;
    color: rgba(255, 255, 255, 0.64);
    outline: none;
}

td p{
    margin: 0;
}

tr td p {
    color: #fff;
}
.salt_table td{
    white-space: normal;
}
.left-td{
    width:40%;

}

/* tabs изменено*/
.table-main{
    overflow-y: auto;
    max-height: calc(var(--second_template_data_list)/var(--reference_height)*100vh);
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.table-main::-webkit-scrollbar{
    display:none;
}

.tab{
    cursor:pointer;
    color: rgba(255, 255, 255, 0.87);
    font-size: 12px;
    font-weight: 500;
    display: flex;
    align-items: center;
}
.inner-tabs{
    display: none;
    
}
.inner-tabs.on{
    display: flex;
    flex-direction: column;
    cursor:pointer;
    color: rgba(255, 255, 255, 0.87);
    font-size: 12px;
    font-weight: 500;
    margin-left: 2em;
}

.tabs-items{
    display:none;
    color: rgba(255, 255, 255, 0.87);
    font-size: 20px;
    font-weight: 500;

}
.tabs-items.on{
    display: flex;
    flex-direction: column;
    ;
    
}
 span{
    display: flex;
    align-items: center;
    margin-top:20px
 }
.btn{
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;
    padding: 7px 1.5em 7px;
    margin-left: 1.5em;
    width: 90%;
    border-radius: 10%;
}
.btn:hover{
    background: #FFFFFF14;
    border-radius: 3px;
    
}
.btn.active{
    background: #FFFFFF14;
    border-radius: 3px;
}

/* .hidden {
    display: none;
} */

.bx-chevron-down{
    color: #1D9A6C;
}
i{
    font-size: 20px;
}

@media (max-width: 900px) {
  .main__content {
    flex-direction: column;
margin-left: 0px;
  }
  .content__search{
    width: auto;
    margin-top: 0px;
    min-height:0px;
  }
  .content__table{
    margin-top: 0px;
  }
  td{
    white-space: wrap;
    font-size: 15px;
  }
  table{
    table-layout: fixed;
    width: 100%;
    text-align: center;
  }
  .tabs .tab{
  font-size: 16px;
  }
  .custom{
    font-size: 16px;

  }
  .btn{
    font-size: 80%;
  }
  .tabs-items .item{
      padding-bottom: 0px;
  }
  .header{
  font-size: 17px;
  text-align: center;
  }
  .content__features{
    margin-top: 0px;
    width: 100%;
  }
}