body{
    background: #292e3c;
    font-family: inter;
    margin: 0;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 89vh;
    border-radius: 8px;
    padding: 40px 30px;
}

.contentLogin{
    background: #222836;
    border-radius: 8px;
    padding: 40px 30px;
    font-size: 15px;
}

.contentLogin__name{
    color: #fff;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.contentLogin__loginPass{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.error{
    color: #e64646;
    text-align: center;
}
.loginPass{
    border-radius: 8px;
    padding: 8px 10px;
    width: 320px;
    height: 32px;
    background-color: rgba(0, 0, 0, 0.07);
    border: none;
    font-size: 15px;
    color: #fff;
}

.loginPass, .password{
    margin-top: 15px;
}

.contentLogin__rememberMe{
    display: flex;
    color: #fff;
    flex-direction: row;
    align-items: center;
}

.rememberMe-checkbox{
    border: 1px solid rgba(0, 0, 0, 0.28);
    border-radius: 4px;
    width: 16px;
    height: 16px;
    background: #fff;
    border: none;
    cursor: pointer;
}

.contentLogin__signIn-Button{
    background: #1d9a6c;
    border-radius: 8px;
    padding: 8px 12px;
    height: 40px;
    border: none;
    font-weight: 500;
    line-height: 145%;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.contentLogin__signIn-Button:hover{
    background: #378f6e;
}

.contentLogin__button{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    font-size: 15px;
}

.contentLogin__signUp{
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-top: 20px;
    color: #1D9A6C;
}


.contentLogin__signUp:hover{
    color: #008f58;
}