/* maincontent */

.mainContainer{
    display: flex;
    flex-direction: row;
    /* margin-right: 25px; */
    /* margin-top: 27px; */
    margin-bottom: 16px;
    margin-left: 88px;
    margin-top: calc(52/1080*100vh);
    padding-top: 17px;
    padding: 0 12px;
}

.container__tab{
    padding: 0 25px 0;
    border-right: solid rgba(255, 255, 255, 0.08) 2px; 
    display: flex;
    flex-direction: column;
    width: 40%;
}

/* header for tables*/

.headerContainer{
    position: static;
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: rgba(255, 255, 255, 0.87);
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
}

.headerContainer h1{
    margin-left: 20px;
}

.headerContainer svg{
    cursor: pointer;
}
body .download__rep{
  color:#fff;
  text-decoration: none;
  display: flex;
}
.download__span{
  padding:5px;
}
p{
font-size: 12px;
}
/* common */

body{
    background: #292e3c;
    font-family: inter;
    margin: 0;
    height: 100%;
} 

/* tables styles*/

table, th, td {

    border: 0;
    border-collapse: collapse;
    padding: 6px 6px 6px 8px;
    color: rgba(255, 255, 255, 0.64);
    font-size: 12px;
    font-weight: 400;
}

table{
    width: 100%;
}

td{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

td input{
    border: none;
    color: rgba(255, 255, 255, 0.64);
    font-size: 12px;
    outline: none;
        width: 100%;
}

select{
    width: 120px;
    border: none;
    background:#363A47;
    color: white;
    outline: none;
}

td p{
    margin: 0;
}

.plates{
    display: flex;
    flex-direction: row;
    color: rgba(255, 255, 255, 0.87);
    font-size: 11px;
    font-weight: 500;
}

.tables{
    margin-top: 10px;
}

.third-section__main{
    padding: 0 25px 0;

    width: 100%;
}

/* button */

.text{
    font-size: 14px;
    line-height: 24px;
}

button{
    margin-top: 10px;
    /* position: static; */
    width: 100%;
    padding: 8px 12px 8px 12px;
    border-radius: 8px;
    background: rgb(29, 154, 108);
    border: none;
    color: #fff;
    font-size: 11px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;
    cursor: pointer;
    background-image: linear-gradient(10deg, #26413f, #1d9a6c);
    background-size: 200% 200%;
    animation: gradient 10s ease infinite;
}

button:hover{
    background: rgba(29, 154, 108, 0.74);
    transition: all .2s;
    animation: shadow .6s infinite linear;
}

@media (max-width: 900px) {
  .mainContainer{
    flex-direction: column;
    margin-left: 0;
    margin-top: 12px
  }
  .container__tab{
    border-right: none;
    margin-top: 0px;
    width: 100%;
    padding:0px;
  }
  td{
    white-space: wrap;
    text-overflow: clip;
    font-size: 15px;
  }
  table{
    table-layout: fixed;
    width: 100%;
    text-align: center;
  }
  /* .mainContainer{
    margin-left: 0px;
    margin-top: 0px;
  } */
  .third-section__child{
    margin-bottom: 70px;
  }
  .third-section__main{
    padding: 0px 25px 0px;
    margin-top: 0px;
  }
  .headerContainer{
  font-size: 17px;
  display: flex;
  
  }
  .headerContainer h1{
     margin-left: 0px;
  }
  p{
  font-size: 16px;
  }
  .plates{
  font-size: 16px;
  }
  button{
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .mainContainer{
    flex-direction: column;
    margin-left: 0;
    margin-top: calc(73.5/var(--reference_height)*100vh);
  }
  .headerContainer h1, .download__span{
    font-size: 14px;
  }
  p, td, .plates{
    font-size: 12px;
  }
  .third-section__main{
    padding: 0;
  }
  .tables td{
    font-size: 10px;
  }

}