
/* Стили модального окна */
.modal-overlay {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: rgba(0,0,0,0.5);
   display: none;
   justify-content: center;
   align-items: center;
   z-index: 9999;
}

.modal {
   background: #292e3c;
   border-radius: 8px;
   padding: 36px 28px 28px 28px;
   width: 320px;
   display: flex;
   flex-direction: column;
   gap: 20px;
   position: fixed;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}

/* Стили заголовка модального окна */
.modal-top-bar {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.modal-title {
   font-size: 16px;
   font-weight: 500;
   color: rgba(255, 255, 255, 0.87);
}

.modal-close {
   background: none;
   border: none;
   color: rgba(255, 255, 255, 0.5);
   font-size: 20px;
   cursor: pointer;
}

/* Стили полей ввода */
.modal-label {
   font-size: 11px;
   font-weight: 400;
   color: rgba(255, 255, 255, 0.87);
   line-height: 16px;
   display: block;
   margin-bottom: 4px;
}

.modal-input, 
.modal-select {
   width: 100%;
   padding: 8px;
   background: #343c4f;
   border: none;
   border-radius: 8px;
   color: rgba(255, 255, 255, 0.87);
   font-size: 12px;
   outline: none;
}

.modal-select {
   border: 1px solid rgba(29, 154, 108, 1);
   background-color: rgba(38, 65, 63, 1);
   color: rgba(29, 154, 108, 1);
   cursor: pointer;
   -webkit-appearance: none;
   appearance: none;
   background-position: right 10px center;
   background-repeat: no-repeat;
   background-image: url("data:image/svg+xml,%3Csvg fill='rgba(255,255,255,0.5)' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
   background-size: 15px;
}

/* Стили кнопок */
.modal-actions {
   display: flex;
   justify-content: space-between;
   margin-top: 20px;
}

.modal-btn {
   padding: 8px 26px;
   border-radius: 8px;
   border: none;
   font-size: 11px;
   cursor: pointer;
}

.modal-btn.create {
   background: #1d9a6c;
   color: #fff;
}

.modal-btn.cancel {
   background: none;
   color: #1d9a6c;
}

.modal-btn.create:hover {
   background: #4c977c;
}

.modal-btn.cancel:hover {
   text-decoration: underline;
}

/* Стили таблицы */
.history-table {
   width: 100%;
   border-collapse: collapse;
}

/* .history-table tbody tr {
   cursor: pointer;
   transition: all 0.3s ease;
} */

.history-table tbody tr:hover {
   background: rgba(29, 154, 108, 0.1);
}

.history-table th,
.history-table td {
   padding: 12px 8px;
   text-align: left;
   color: rgba(255, 255, 255, 0.87);
}
