/* Стили оверлея и модального окна */
    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right:0;
        bottom:0;
        background: rgba(0,0,0,0.5);
        display: none; /* изначально скрыто */
        justify-content: center;
        align-items: center;
        z-index: 999;
    }

    .modal-overlay.active {
        display: flex;
    }

    .modal {
        background: #292e3c;
        border-radius: 8px;
        padding: 20px;
        width: 320px;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .modal-title {
        font-size: 16px;
        font-weight: 500;
        color: rgba(255, 255, 255, 0.87);
    }

    .modal-close {
        position: absolute;
        top: 20px;
        right: 20px;
        background: none;
        border: none;
        color: rgba(255, 255, 255, 0.5);
        font-size: 16px;
        cursor: pointer;
    }

    .modal-label {
        font-size: 14px;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.87);
        margin-bottom: 4px;
    }

    .modal-input, .modal-select {
        width: 100%;
        padding: 8px;
        background: #343c4f;
        border: none;
        border-radius: 4px;
        color: #fff;
        font-size: 14px;
        outline: none;
    }

    .modal-select {
        cursor: pointer;
        -webkit-appearance: none; 
        background-position: right 10px center;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg fill='rgba(255,255,255,0.5)' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
        background-size: 15px;
    }

    .modal-actions {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }

    .modal-btn {
        padding: 8px 16px;
        border-radius: 8px;
        border: none;
        font-size: 14px;
        cursor: pointer;
    }

    .modal-btn.cancel {
        background: none;
        color: #1d9a6c;
    }

    .modal-btn.create {
        background: #1d9a6c;
        color: #fff;
    }

    .modal-btn.create:hover {
        background: #4c977c;
    }

    .modal-btn.cancel:hover {
        text-decoration: underline;
    }