{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{%static 'images/base/base_icon.svg'%}" />
    <link type = "text/css" href="{%static 'css/base_style.css'%}" rel = "stylesheet" crossorigin="anonymous">
    <link type = "text/css" href="{%static 'css/base_header.css'%}" rel = "stylesheet" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    {% block styles %}
    {% endblock %}
    <title>Document</title>
</head>
<body>
    <header class="main-Header">

        <div class="main-Header__leftContent" style="display: flex; align-items: center; ">
            {% if user.is_active %}
            <div class="leftContent-first" >{{user}}</div>
            {% endif %}
            <div class="leftContent-first" >Название дизайна</div>
            <div class="leftContent-second">/ План операций</div>
        </div>
        <div class="main-Header__rightContent">
            {% if user.is_active %}
            <a class="rightContent-fourth" href="{% url 'users:logout' %}" style="text-decoration: none; color: rgba(255, 255, 255, 0.87);">Logout</a>
            {% else %}
            <a class="rightContent-fourth" href="{% url 'users:login'%}" style="text-decoration: none; color: rgba(255, 255, 255, 0.87);">Login</a>
            {% endif %}
        </div>
    </header>
    <nav class="sidebar close">
        {% comment %} <header>
            <!-- название проекта и лого можно-->
            <i class="bx bx-menu toggle"></i>
        </header> {% endcomment %}
        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="{% url 'calculator' %}">
                            <i class="bx bx-git-repo-forked icon" ></i>
                            <span class="text nav-text">Новый расчет</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{% url 'reagent_base' %}">
                            <i class="bx bx-folder icon" ></i>
                            <span class="text nav-text">База реагентов</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{% url 'scale_calculator' %}">
                            <i class="bx bx-droplet icon" ></i>
                            <span class="text nav-text">Совместимость вод</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{% url 'FAQ_page' %}">
                            <i class="bx bx-question-mark icon" ></i>
                            <span class="text nav-text">FAQ</span>
                        </a>
                    </li>
                    <li>
                        <i class="bx bx-menu toggle"></i>
                    </li>
                </ul>
            </div>
            <!-- <div class="bottom-content"></div> -->
        </div>
            <footer class="bottom-content">
                <span class="text nav-text" >Версия 3.01.2024</span>
            </footer>
    </nav>
    <section class="home">
        {% block content %}
        {% endblock %}
    </section>

    <script src="{%static 'js/base/script.js'%}"></script>

</body>
</html>