<!-- users/templates/users/login.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="{% static 'users/css/styles.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <title>Авторизация</title>
</head>
<body>
    <div class="content">
        <div class="contentLogin">
            <form method="post" class="contentLogin__loginPass">
                {% csrf_token %}
                <div class="contentLogin__name">WellKilling</div>
                <div class="contentLogin__loginPass">
                    {{ form.as_p }}
                </div>
                {% if error %}
                <div class="error">{{ error }}</div>
                {% endif %}
                <div class="contentLogin__button">
                    <div class="contentLogin__rememberMe">
                        <input class="rememberMe-checkbox" name="rememberMe" type="checkbox">Запомнить меня
                    </div>
                    <button class="contentLogin__signIn-Button" type="submit">Вход в систему</button>
                </div>
                <a class="contentLogin__signUp" href="{% url 'users:register' %}">Зарегистрироваться</a>
            </form>
        </div>
    </div>        
</body>
</html>
