@media (max-width: 600px){
    .tabs-first__item span{
        display: block;
        width: 100px;
        white-space: nowrap;
        text-align: center;
        overflow: hidden;
        font-size: 12px;
        text-overflow: ellipsis;
    }
}

.tabs-first__footer-buttons{
    margin-top: auto;
    margin-bottom: 40px;
}